.community_announcement[data-v-74f837e4] {
  height: calc(17.5vh);
  transform: translateY(-32px);
  width: 100%;
  padding-left: 20px;
}
.community_announcement .right_arr[data-v-74f837e4] {
  width: 100%;
  height: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.community_announcement .right_arr img[data-v-74f837e4] {
  width: 10px;
  cursor: pointer;
  margin-right: 30px;
}
.community_announcement .list_content[data-v-74f837e4] {
  overflow-y: scroll;
  height: calc(17.5vh - 32px);
}
.community_announcement .list_content[data-v-74f837e4]::-webkit-scrollbar {
  width: 0;
}
.community_announcement .list_content .news_item[data-v-74f837e4] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}
.community_announcement .list_content .news_item .icon[data-v-74f837e4] {
  width: 7px;
}
.community_announcement .list_content .news_item .icon img[data-v-74f837e4] {
  width: 7px;
}
.community_announcement .list_content .news_item .time[data-v-74f837e4] {
  margin-left: 5px;
  color: #B8AC67;
  font-size: 12px;
}
.community_announcement .list_content .news_item .content[data-v-74f837e4] {
  color: #ffffff;
  font-size: 12px;
  width: 65%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 5px;
}

