
.ant-form-item label[data-v-1794a211] {
  width: 50px;
}
.tip-txt[data-v-1794a211] {
  margin-left:4px;font-size: 12px;
}
.add-box-tip[data-v-1794a211] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label[data-v-bc2383bc] {
   width: 50px;
}
.ant-card-body[data-v-bc2383bc] {
   padding: 1px;
   zoom: 1;
}
.txt-green[data-v-bc2383bc] {
     color: green;
}
.txt-red[data-v-bc2383bc] {
   color: red;
}

