
[data-v-30055a8c] .ant-form-item-control-wrapper {
  display: inline-block;
}
[data-v-30055a8c] .addMaterial .ant-form-item-label {
  vertical-align: top;
}
[data-v-30055a8c] .ant-upload-list-text {
  width: 650px;
}
.previewimg img[data-v-30055a8c] {
  cursor: pointer;
}

