
.width-100[data-v-653b245d] {
    width: 100%;
    box-sizing: border-box;
}
.customPageComponentsWrap[data-v-653b245d] {
    width: 160px;
    box-sizing: border-box;
}
.subItem[data-v-653b245d] {
    width: 100%;
    box-sizing: border-box;
}
.subItemContent[data-v-653b245d] {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #323233;
    box-sizing: border-box;
    font-size: 14px;
}
.subItemContent[data-v-653b245d]:hover,
.subItemContent.active[data-v-653b245d] {
    color: rgba(24, 144, 255, 1);
}
.subItemIcon[data-v-653b245d] {
    margin-right: 8px;
    font-size: 22px;
}
.subItemLabel[data-v-653b245d] {
    -ms-flex: 1;
        flex: 1;
    font-weight: 400;
}

