
.wrap[data-v-9947987e] {
    padding: 0 26px 20px;
    border-bottom: 1px solid #F2F4F6;
}
.title[data-v-9947987e] {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #323233;
}
.desc[data-v-9947987e] {
    font-size: 14px;
    font-weight: 400;
    color: #969799;
    line-height: 22px;
}
.borderNone[data-v-9947987e] {
    border: none;
}


.content[data-v-a22bdd6c] {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}
.padding-24[data-v-a22bdd6c] {
    padding: 24px;
}
.list-wrap[data-v-a22bdd6c] {
    padding: 10px;
    margin: 0 20px 24px 20px;
    background: #f7f8fa;
}
.list-item[data-v-a22bdd6c] {
    margin-bottom: 12px;
    padding: 12px 16px;
    background: #ffffff;
    box-shadow: 0 0 4px 0 rgb(10 42 97 / 20%);
    border-radius: 4px;
    cursor: move;
}
.list-item[data-v-a22bdd6c]:last-child {
    margin-bottom: 0;
}

