.container[data-v-438e73a2] {
  width: 800px;
  height: 480px;
}
.box_left[data-v-438e73a2] {
  float: left;
  height: 480px;
  width: 40%;
  overflow: auto;
}
.box_right[data-v-438e73a2] {
  float: right;
  height: 480px;
  width: 49%;
  overflow: auto;
}
.box_right span[data-v-438e73a2] {
  font-size: 14px;
}
.box_right .a-empty[data-v-438e73a2] {
  margin-top: 50px;
}
[data-v-438e73a2]::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f0f0f0;
}
/*定义滚动条轨道 内阴影+圆角*/
[data-v-438e73a2]::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  border-radius: 10px;
  background-color: rgba(240, 240, 240, 0.5);
}
/*定义滑块 内阴影+圆角*/
[data-v-438e73a2]::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgba(240, 240, 240, 0.5);
  background-color: rgba(240, 240, 240, 0.5);
}
.list_box[data-v-438e73a2] {
  float: left;
}


.top[data-v-6ed47bd4]{
  height: 160px;
  width: 94%;
  margin-left: 3%;
  margin-top: 25px;
}
.top .container_box[data-v-6ed47bd4]{
    float: left;
    height: 150px;
    width: 20%;
    margin-right: 5%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.box_title[data-v-6ed47bd4]{
    height: 50px;
    width: 230px;
    margin-left: 15px;
    line-height: 50px;
    position: relative
}
.box_title span[data-v-6ed47bd4]{
    color: darkgrey;
}
.box_title img[data-v-6ed47bd4]{
    position: absolute;
    left: 200px;
    top: 17px;
}
.box_center[data-v-6ed47bd4]{
    height: 50px;
    width: 230px;
    margin-left: 15px;
}
.box_center span[data-v-6ed47bd4]{
  font-size: 27px;
}
.box_bottom[data-v-6ed47bd4]{
    height: 50px;
    width: 230px;
    margin-left: 15px;
    line-height: 50px;
}
.box_bottom span[data-v-6ed47bd4]{
  color: darkgrey;
}
.box_bottom img[data-v-6ed47bd4]{
    margin-left: 5px;
}
.bottom[data-v-6ed47bd4]{
    width: 94%;
    margin-top: 25px;
    margin-left: 3%;
    background-color: white;
    border-radius: 5px;
}
.button_select[data-v-6ed47bd4]{
    margin-left: 50px;
    margin-top: 30px;
}
h3[data-v-6ed47bd4]{
    margin-left: 20px;
}
.table_list[data-v-6ed47bd4]{
    width: 90%;
    margin-left: 5%;
}

