
.map[data-v-612c8001]{
  width: 900px;
  height: 800px;
}


.ant-form-item label[data-v-77a85f56] {
  width: 50px;
}
.tip-txt[data-v-77a85f56] {
  margin-left:4px;font-size: 12px;
}
.add-box-tip[data-v-77a85f56] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}
h3[data-v-77a85f56]{
  margin-left: 180px
}


.table-operator[data-v-dbc1fe98]{
  margin-bottom: 10px;
}

