
.name[data-v-0b6017e5] {
    display: inline-block;
    max-width: 200px;
    white-space: wrap;
    word-break: break-all;
}
.simulate-group-num.ant-form-item[data-v-0b6017e5] {
    margin-bottom: 0;
}

