.deal_record[data-v-26c6e053] {
  height: 55vh;
  overflow-y: scroll;
  margin: 10px 0;
}
.deal_record[data-v-26c6e053]::-webkit-scrollbar {
  width: 0;
}
.deal_record .record_list[data-v-26c6e053] {
  margin: 10px;
  position: relative;
  margin: 15px 30px;
}
.deal_record .record_list .flow_line[data-v-26c6e053] {
  position: absolute;
  width: 2px;
  border: 0;
  height: calc(100% + 10px);
  background-color: #409EFF;
  top: 14px;
  left: -23px;
}
.deal_record .record_list .flow_icon_out[data-v-26c6e053] {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #409EFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  left: -30px;
  top: 3.5px;
}
.deal_record .record_list .flow_icon_out .flow_icon_in[data-v-26c6e053] {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: #ffffff;
}
.deal_record .record_list .props_list[data-v-26c6e053] {
  width: 80%;
}
.deal_record .record_list .props_list .props_list[data-v-26c6e053] {
  margin: 10px 0;
}

