.base_config .form_width[data-v-47f0740c] {
  width: 300px;
}

.paramiter_set .form_width[data-v-48a61962] {
  width: 300px;
}
[data-v-48a61962] .ant-alert {
  width: 60%;
}
[data-v-48a61962] .ant-form label {
  width: 90px;
}


.basic_set[data-v-2a218972]{
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
}

