
[data-v-63352318] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.owner_msg .label_con[data-v-9521c344] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.owner_msg .label_con[data-v-9521c344]:nth-child(1) {
  margin-top: 0;
}
.owner_msg .label_con .title[data-v-9521c344] {
  font-weight: bold;
}
.owner_msg .label_con .choose_con[data-v-9521c344] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

.owner_msg .label_con[data-v-2edc3b6a] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.owner_msg .label_con[data-v-2edc3b6a]:nth-child(1) {
  margin-top: 0;
}
.owner_msg .label_con .title[data-v-2edc3b6a] {
  font-weight: bold;
}
.owner_msg .label_con .checkbox_con[data-v-2edc3b6a] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

.user_label .label_con[data-v-29b1c663] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.user_label .label_con[data-v-29b1c663]:nth-child(1) {
  margin-top: 0;
}
.user_label .label_con .title[data-v-29b1c663] {
  font-weight: bold;
}
.user_label .label_con .radio_con[data-v-29b1c663] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

