.package-bill-list-box[data-v-1551bf92] {
  margin: 30px 20px;
  background-color: white;
}
.package-bill-list-box .search-box[data-v-1551bf92] {
  padding: 20px 20px 0;
}
.package-bill-list-box .components-table-demo-nested[data-v-1551bf92] {
  padding: 20px;
}
.package-bill-list-box .message_box[data-v-1551bf92] {
  padding: 20px;
}

