.imgname[data-v-7434a717] {
  width: 100px;
}
[data-v-7434a717] .project_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-7434a717] .project_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-7434a717] .project_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-7434a717] .project_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

.message-suggestions-list-box[data-v-372ba5f5] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-372ba5f5] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-372ba5f5] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-372ba5f5] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-372ba5f5] {
  padding: 20px;
}
.lbsf[data-v-372ba5f5] {
  float: right;
  margin-right: 24px;
}

