.village_info_set[data-v-66682706] {
  width: 100%;
}
.village_info_set .input_style_240[data-v-66682706] {
  width: 360px;
}
[data-v-66682706] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

