
[data-v-7f5370f3] .ant-form-item-control-wrapper {
  display: inline-block;
}


[data-v-22adae91] .ant-form-item-control-wrapper {
  display: inline-block;
}

.top_tab[data-v-198ed024] {
  background-color: #ffffff;
  padding: 20px;
}

