.flex_text_box[data-v-2266e2d0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.margin_top_10[data-v-2266e2d0] {
  margin-top: 10px;
}
.text_1[data-v-2266e2d0] {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.flex_row_center[data-v-2266e2d0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_row_center_color[data-v-2266e2d0] {
  background-color: #efefef;
}
.flex_column[data-v-2266e2d0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top_title[data-v-2266e2d0] {
  width: 25%;
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}
.fix_top_title[data-v-2266e2d0] {
  width: 35%;
}
.top_title_color[data-v-2266e2d0] {
  color: #686868;
}
.father_box[data-v-2266e2d0] {
  width: 100%;
  height: 100%;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
}
.father_box .top_box[data-v-2266e2d0] {
  width: 100%;
  height: 46px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.father_box .top_box .right_icon[data-v-2266e2d0] {
  font-size: 20px;
  font-weight: 600;
  margin: 0 20px;
}
.father_box .top_box .title[data-v-2266e2d0] {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
}
.father_box .top_box .text_1[data-v-2266e2d0] {
  color: rgba(0, 0, 0, 0.85);
  margin-right: 20px;
}
.father_box .childer_box[data-v-2266e2d0] {
  border: 0px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  background-color: #FFFFFF;
}
.father_box .childer_box .right_icon[data-v-2266e2d0] {
  font-size: 20px;
  font-weight: 600;
  margin: 0 20px;
  margin-left: 30px;
}
.father_box .childer_box .title_1[data-v-2266e2d0] {
  position: absolute;
  left: 55px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
}

.message-suggestions-list-box[data-v-4bf849d4] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-4bf849d4] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-list-box .add-box[data-v-4bf849d4] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-4bf849d4] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-4bf849d4] {
  padding: 20px;
}
.lbsf[data-v-4bf849d4] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-4bf849d4] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.flex_text_box[data-v-4bf849d4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_text_box .text_1[data-v-4bf849d4] {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.page_top[data-v-4bf849d4] {
  background-color: #e6f7ff;
  display: inline-block;
  width: 98%;
  padding: 20px 20px;
  margin: 15px;
  color: #666666;
}

