
[data-v-6e377f42] .f2206 {
  font-weight: bold !important;
}
.ant-form-item label[data-v-6e377f42] {
  width: 50px;
}
.tip-txt[data-v-6e377f42] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-6e377f42] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}
.imgname[data-v-6e377f42] {
  width: 100px;
}

