
.flex_text_box[data-v-11693940] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.margin_top_10[data-v-11693940] {
  margin-top: 10px;
}
.text_1[data-v-11693940] {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.input_style[data-v-11693940] {
  width: 100px;
}
.cascader_style[data-v-11693940] {
  width: 120px;
}


