
[data-v-cabedf20] .ant-descriptions-item-colon::after {
  content: '';
}
.print_template[data-v-cabedf20] {
  width: 100%;
  height: 100vh;
}
.plate_tips[data-v-cabedf20] {
  width: 100%;
  padding: 12px;
  background-color: #e6f7ff;
}
.popoverfont[data-v-cabedf20] {
  font-size: 20px;
}
.plate_content[data-v-cabedf20] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.plate_content .left_menu[data-v-cabedf20] {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
}
.plate_content .left_menu .page_header[data-v-cabedf20] {
  width: 90%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 10px 0;
}
.plate_content .left_menu .page_header .header_content[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plate_content .left_menu .page_header .header_content .right_selet[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.plate_content .left_menu .page_header .header_content .right_selet .select_confirm[data-v-cabedf20] {
  margin-left: 3px;
}
.plate_content .left_menu .page_header .line[data-v-cabedf20] {
  width: 100%;
  border: 0;
  height: 0.5px;
  background-color: #999999;
  margin: 10px 0;
}
.plate_content .left_menu .page_header .selected_content[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.plate_content .left_menu .page_header .selected_content .select_item[data-v-cabedf20] {
  padding: 3px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.plate_content .left_menu .page_header .selected_content .select_item .reduce_item[data-v-cabedf20] {
  margin-left: 5px;
  font-size: 15px;
  color: #dddddd;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  cursor: pointer;
}
.plate_content .right_table[data-v-cabedf20] {
  width: 70%;
  background-color: #eeeeee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plate_content .right_table .table_content[data-v-cabedf20] {
  width: 98%;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plate_content .right_table .table_content .table_header[data-v-cabedf20] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.plate_content .right_table .table_content .line[data-v-cabedf20] {
  width: 100%;
  border: 0;
  height: 0.5px;
  background-color: #999999;
  margin: 10px 0;
}
.plate_content .right_table .table_content .main_content[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.plate_content .right_table .table_content .main_content .print_table_title[data-v-cabedf20] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  height: 30px;
  font-size: 19px;
}
.plate_content .right_table .table_content .main_content .module_one[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.plate_content .right_table .table_content .main_content .module_two[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.plate_content .right_table .table_content .main_content .module_two .table_top[data-v-cabedf20] {
  border: 0.5px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 27px;
}
.plate_content .right_table .table_content .main_content .module_two .table_top .header_item[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plate_content .right_table .table_content .main_content .module_two .table_top .header_item[data-v-cabedf20]:nth-child(1) {
  margin-left: 10px;
}
.plate_content .right_table .table_content .main_content .module_two .table_top .header_item[data-v-cabedf20]:nth-last-child(1) {
  margin-right: 20px;
}
.plate_content .right_table .table_content .main_content .module_two .table_container[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-left: 0.5px solid #999999;
}
.plate_content .right_table .table_content .main_content .module_two .table_container .table_item[data-v-cabedf20] {
  border: 0.5px solid #999999;
  border-left: 0;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_one[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_one .table_item[data-v-cabedf20] {
  border: 0.5px solid #999999;
  border-left: 0;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_one .table_item[data-v-cabedf20]:nth-child(1) {
  border-left: 0.5px solid #999999;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_one .table_item_5 .div51[data-v-cabedf20] {
  width: 100%;
  height: 100%;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_one .table_item_5 .span51[data-v-cabedf20] {
  border-right: 0.5px solid #999999;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_one .table_item_5 .span52[data-v-cabedf20] {
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_7[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_7 .left_title[data-v-cabedf20] {
  height: 27px;
  width: 25.1%;
  border: 0.5px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_7 .right_71[data-v-cabedf20] {
  height: 27px;
  width: 12.5%;
  border: 0.5px solid #999999;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_7 .right_72[data-v-cabedf20] {
  height: 27px;
  width: 40.4%;
  border: 0.5px solid #999999;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_7 .right_73[data-v-cabedf20] {
  height: 27px;
  width: 22%;
  border: 0.5px solid #999999;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_two[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_two .left_title[data-v-cabedf20] {
  height: 27px;
  width: 25%;
  border: 0.5px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.plate_content .right_table .table_content .main_content .module_two .table_footer_two .right_content[data-v-cabedf20] {
  height: 27px;
  width: 75%;
  border: 0.5px solid #999999;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.plate_content .right_table .table_content .main_content .module_six[data-v-cabedf20] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.plate_content .right_table .table_content .main_content .template3type[data-v-cabedf20] {
  text-align: center;
}
.plate_content .right_table .table_content .main_content .template3type[data-v-cabedf20] .ant-descriptions-item:nth-last-child(1) {
  text-align: right;
}
.plate_content .right_table .table_content .main_content .template3type[data-v-cabedf20] .ant-descriptions-item:nth-child(1) {
  text-align: left;
}

