.upload-img-container[data-v-1fb4675a] {
  width: 102px;
  height: 102px;
}
.file-upload[data-v-1fb4675a] .ant-upload-list-item-name {
  color: #999999 !important;
}

.account-community-config-info-view[data-v-4836e2d9] {
  margin: 30px 20px;
  background-color: white;
  padding: 30px;
}
.imgname[data-v-4836e2d9] {
  width: 80px;
}

