.form_title[data-v-45e50e51] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-45e50e51] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-45e50e51] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-45e50e51] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.ant-form-item-control .a_radio[data-v-45e50e51] {
  display: block;
  height: 15px;
  line-height: 15px;
}
[data-v-45e50e51] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

