
.keyword[data-v-6dbd7a94] {
    width: 300px;
}
.link-btn.ant-btn[data-v-6dbd7a94] {
    padding: 0 4px;
}
.flex-direction[data-v-6dbd7a94] {
    -ms-flex-direction: column;
        flex-direction: column;
}
.switch-btn.ant-switch[data-v-6dbd7a94] {
    min-width: 56px;
}
.sort-input[data-v-6dbd7a94] {
    max-width: 70px;
}
.commission-input[data-v-6dbd7a94] {
    width: 320px;
}

