
.can_back[data-v-e0710454]{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}


.card_tab {
    text-align: center;
    width: 140px;
    float: left;
    margin: 0 0 20px 0;
}
.card_tab span {
    color: #000000;
    font-size: 15px;
    padding: 7px 10px;
}
.card_tab span.on {
    color: #1890ff;
    border-bottom: 2px solid #1890ffcc;
}

