
[data-v-363d3e46] .ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1;
    /* padding: 16px 0; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
[data-v-363d3e46] .ant-card-body {
    padding: 12px;
    zoom: 1;
}
[data-v-363d3e46] .ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum';
    margin-bottom: 15px;
    vertical-align: top;
}


[data-v-37cc7eba] .ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1;
    /* padding: 16px 0; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
[data-v-37cc7eba] .ant-card-body {
    padding: 12px;
    zoom: 1;
}
[data-v-37cc7eba] .ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum';
    margin-bottom: 15px;
    vertical-align: top;
}


[data-v-20c2370b] .ant-card-head-title {
    display: inline-block;
    -ms-flex: 1;
    flex: 1;
    /* padding: 16px 0; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
[data-v-20c2370b] .ant-card-body {
    padding: 12px;
    zoom: 1;
}
[data-v-20c2370b] .ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum';
    margin-bottom: 15px;
    vertical-align: top;
}

