.content[data-v-e7fe6736] {
  overflow: hidden;
  padding: 10px;
}
.content .trip[data-v-e7fe6736] {
  margin-bottom: 20px;
}
.content .reSign-click[data-v-e7fe6736] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.content .contracts .contracts-item[data-v-e7fe6736] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
  padding-bottom: 20px;
}
.content .contracts .contracts-item .left[data-v-e7fe6736] {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .contracts .contracts-item .left .span1[data-v-e7fe6736] {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #1890ff;
}
.content .contracts .contracts-item .left .span2[data-v-e7fe6736] {
  width: 1px;
  border: 1px dashed #d9d9d9;
  position: absolute;
  bottom: 0;
  top: 38px;
  height: 100%;
  left: 9px;
  z-index: -1;
}
.content .contracts .contracts-item .right .title[data-v-e7fe6736] {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
.content .contracts .contracts-item .right .info[data-v-e7fe6736] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .contracts .contracts-item .right .info .code[data-v-e7fe6736] {
  margin-right: 20px;
}
.content .contracts .contracts-item:last-child .span2[data-v-e7fe6736] {
  display: none;
}
.reSign[data-v-e7fe6736] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

