
.ant-form-item label[data-v-0986ebcc] {
    width: 50px;
}
.tip-txt[data-v-0986ebcc] {
    margin-left: 4px;
    font-size: 12px;
}
.add-box-tip[data-v-0986ebcc] {
    text-align: -webkit-center;
    padding: 0 6px;
    margin-left: 8px;
    border-radius: 15px;
    border: none;
}
.imgname[data-v-0986ebcc] {
    width: 100px;
}
.ant-radio-wrapper[data-v-0986ebcc] {
    margin-right: 45px;
}
.ant-card-body[data-v-0986ebcc] {
    padding: 1px;
    zoom: 1;
}



.ant-form-item label[data-v-03e06ce6] {
   width: 50px;
}
.tip-txt[data-v-03e06ce6] {
   margin-left: 4px;
   font-size: 12px;
}
.add-box-tip[data-v-03e06ce6] {
   text-align: -webkit-center;
   padding: 0 6px;
   margin-left: 8px;
   border-radius: 15px;
   border: none;
}
.imgname[data-v-03e06ce6] {
   width: 100px;
}
.ant-radio-wrapper[data-v-03e06ce6] {
   margin-right: 45px;
}
.ant-card-body[data-v-03e06ce6] {
   padding: 1px;
   zoom: 1;
}
.ant-col-md-8[data-v-03e06ce6] {
   width: 11.333333%;
}
.ant-col-md-2[data-v-03e06ce6] {
   width: 12%;
}

