.form_title[data-v-3d044d58] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-3d044d58] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-3d044d58] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-3d044d58] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
[data-v-3d044d58] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

