.message-suggestions-box-1[data-v-556d332e] {
  margin-top: 10px;
  background-color: white;
}
.message-suggestions-box-1 .search-box[data-v-556d332e] {
  padding: 0 20px 0;
}
.message-suggestions-box-1 .add-box[data-v-556d332e] {
  padding: 10px 10px 10px;
}
.lbsf[data-v-556d332e] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-556d332e] {
  padding-top: 15px;
  padding-bottom: 20px;
}
[data-v-556d332e] .but-box {
  width: 365px !important;
  padding-left: 0 !important;
}

