
.floatBtnWrap[data-v-152fade9] {
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.floatBtnItem[data-v-152fade9] {
    margin-top: 4px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
}
.floatBtnItem[data-v-152fade9]:first-child {
    margin-top: 0;
}
.floatBtnItem img[data-v-152fade9] {
    width: 50px;
    height: 50px;
}

