.change_seats_wrapper[data-v-3e1b8996] {
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.change_seats_wrapper .title_container[data-v-3e1b8996] {
  width: 100%;
  height: 0.52083333rem;
  background-color: #fafafa;
  font-size: 0.16666667rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #222222;
  line-height: 0.52083333rem;
  text-align: center;
  border-bottom: 0.00520833rem solid #ededed;
}
.change_seats_wrapper .content_subject[data-v-3e1b8996] {
  width: 100%;
  height: 3.64583333rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;
  background-color: #f0f0f0;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper[data-v-3e1b8996] {
  width: 16%;
  height: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper .abs_container[data-v-3e1b8996] {
  width: 100%;
  height: 100%;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper .abs_container .listcontent[data-v-3e1b8996] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper .abs_container .listcontent .table_type_items[data-v-3e1b8996] {
  cursor: pointer;
  width: 100%;
  height: 0.46875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-bottom: 0.00520833rem solid #ededed;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper .abs_container .listcontent .table_type_items .typename[data-v-3e1b8996] {
  font-size: 0.13541667rem;
  font-weight: 500;
  color: #666666;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper .abs_container .listcontent .table_type_items_active[data-v-3e1b8996] {
  background: #00cbb3;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper .abs_container .listcontent .table_type_items_active .typename[data-v-3e1b8996] {
  color: #ffffff;
}
.change_seats_wrapper .content_subject .leftcolumns_wrapper[data-v-3e1b8996]::-webkit-scrollbar {
  width: 0;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper[data-v-3e1b8996] {
  width: 84%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper[data-v-3e1b8996] {
  width: 100%;
  height: 3.17708333rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container[data-v-3e1b8996] {
  position: absolute;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0.0625rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list[data-v-3e1b8996] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0.10416667rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items[data-v-3e1b8996] {
  width: 25%;
  height: 0.859375rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin: 0.10416667rem 0;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container[data-v-3e1b8996] {
  width: 1.015625rem;
  height: 0.88541667rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 0.05208333rem;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container .topcontent[data-v-3e1b8996] {
  width: 100%;
  height: 0.59895833rem;
  background-color: #25b7aa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container .topcontent .tableinfo[data-v-3e1b8996] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 0.11458333rem;
  margin-top: 0.11979167rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container .topcontent .tableinfo .tablenumber[data-v-3e1b8996] {
  width: 70%;
  font-size: 0.13541667rem;
  line-height: 0.20833333rem;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container .topcontent .tableinfo .people_info[data-v-3e1b8996] {
  line-height: 0.15625rem;
  font-size: 0.11458333rem;
  color: #ffffff;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container .topcontent .order_count[data-v-3e1b8996] {
  font-size: 0.10416667rem;
  width: 100%;
  color: #ffffff;
  padding: 0 0.10416667rem;
  margin-top: 0.078125rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container .status_text[data-v-3e1b8996] {
  width: 100%;
  height: 0.28645833rem;
  text-align: center;
  line-height: 0.3125rem;
  font-size: 0.14583333rem;
  color: #25b7aa;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_order .topcontent[data-v-3e1b8996] {
  background-color: #ffa40d;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_order .status_text[data-v-3e1b8996] {
  color: #ffa40d;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_empty .topcontent[data-v-3e1b8996] {
  width: 100%;
  height: 100%;
  background-color: #67686d;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_empty .topcontent .addicon[data-v-3e1b8996] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 0.18229167rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_empty .topcontent .addicon img[data-v-3e1b8996] {
  width: 0.22916667rem;
  height: 0.22916667rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_clean .topcontent[data-v-3e1b8996] {
  background-color: #cacaca;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .card_container_clean .status_text[data-v-3e1b8996] {
  color: #8a8a8a;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .selectedborder_box[data-v-3e1b8996] {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  pointer-events: none;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .selectedborder_box .border_content[data-v-3e1b8996] {
  width: 1.09375rem;
  height: 0.96354167rem;
  border: 0.02083333rem solid #fd5392;
  border-radius: 0.05208333rem;
  position: relative;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .selectedborder_box .border_content .pink_check[data-v-3e1b8996] {
  position: absolute;
  width: 0.18229167rem;
  height: 0.18229167rem;
  top: -0.0625rem;
  right: -0.0625rem;
  display: -ms-flexbox;
  display: flex;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .tableList_abs_container .table_list .table_card_items .selectedborder_box .border_content .pink_check img[data-v-3e1b8996] {
  width: 100%;
  height: 100%;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper .notableTips[data-v-3e1b8996] {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .slide_tableList_wrapper[data-v-3e1b8996]::-webkit-scrollbar {
  width: 0;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .bottombtn_container[data-v-3e1b8996] {
  width: 100%;
  height: 0.46875rem;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 0.125rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .bottombtn_container .ccl_btn[data-v-3e1b8996] {
  cursor: pointer;
  width: 0.86458333rem;
  height: 0.3125rem;
  background: #dedede;
  border-radius: 0.05208333rem;
  text-align: center;
  line-height: 0.3125rem;
  font-size: 0.125rem;
  font-weight: bold;
  color: #666666;
  margin-right: 0.10416667rem;
}
.change_seats_wrapper .content_subject .rightcolumns_wrapper .bottombtn_container .cfm_btn[data-v-3e1b8996] {
  cursor: pointer;
  width: 0.86458333rem;
  height: 0.3125rem;
  background: #00cbb3;
  border-radius: 0.05208333rem;
  text-align: center;
  line-height: 0.3125rem;
  font-size: 0.125rem;
  font-weight: bold;
  color: #ffffff;
}

.print[data-v-d9d21fe8] .ant-checkbox-group {
  width: 200px;
}
.print[data-v-d9d21fe8] .ant-checkbox-group-item {
  margin-bottom: 8px;
}
.order-card[data-v-d9d21fe8] {
  background: #ffffff;
  border-radius: 10px;
}
.cancel-reason[data-v-d9d21fe8] {
  display: block;
  margin-top: 10px;
}

