
p[data-v-1a68202a]{
  margin-left: 160px;
}


.container[data-v-50651947]{
  width: 100%;
}
.house_type[data-v-50651947]{
  height: 20px;
  float: left;
  width: 120px;
  margin-left: 5px;
}
.radio[data-v-50651947]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin-top: 5px;
}
.tips[data-v-50651947]{
  float: left;
  height: 10px;
  margin-left: 8px;
}


.container[data-v-360af394]{
  width: 100%;
}
.house_type[data-v-360af394]{
  height: 20px;
  float: left;
  width: 100px;
  margin-left: 5px;
}
.radio[data-v-360af394]{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
  margin-top: 5px;
}
.tips[data-v-360af394]{
  float: left;
  height: 10px;
  margin-left: 10px;
}
.layer[data-v-360af394]{
  margin-top: 10px;
  height: 115px;
  width: 100%;
}
.content[data-v-360af394]{
  float: left;
}
.detail[data-v-360af394]{
  height: 115px;
}
ul[data-v-360af394]{
  -webkit-padding-start : 0px !important;
          padding-inline-start : 0px !important
}
ul li[data-v-360af394]{
  list-style: none;
  height: 115px;
  width: 100px;
  line-height: 115px;
  text-align: center;
  float: left;
  display: inline-block;
}
ul li div[data-v-360af394]{
  width: 100px;
  text-align: center;
}
ul li div img[data-v-360af394]{
  width: 55px;
  height: 60px;
}


p[data-v-25a58d6e]{
  margin-left: 160px;
}
.container[data-v-25a58d6e]{
  width: 100%;
  height: 520px;
  margin-top: 20px;
  overflow-y: auto;
}
.box[data-v-25a58d6e]{
  width: 210px;
  height: 210px;
  border-radius: 5px;
  background-color: cornflowerblue;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
.box_content[data-v-25a58d6e]{
  text-align: center;
  margin-top: 15px;
}
div[data-v-25a58d6e]{
  color: whitesmoke;
}

