
.nav-wrap[data-v-4165c938] {
    padding: 12px 0;
}
.txt-name[data-v-4165c938] {
    color: #000000;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
.img-size-1[data-v-4165c938] {
    width: 116px;
    height: 116px;
}
.img-size-2[data-v-4165c938] {
    width: 64px;
    height: 64px;
}
.img-size-3[data-v-4165c938] {
    width: 54px;
    height: 54px;
}
.img-size-4[data-v-4165c938] {
    width: 42px;
    height: 42px;
}

