
.ant-form-item label[data-v-1ab4982a] {
    width: 50px;
}
.tip-txt[data-v-1ab4982a] {
    margin-left:4px;font-size: 12px;
}
.add-box-tip[data-v-1ab4982a] {
    text-align: -webkit-center;
    padding: 0 6px;
    margin-left: 8px;
    border-radius: 15px;
    border: none;
}



.m-colorPicker .open{width: 220px !important;z-index: 100;}

