.message-suggestions-list-box[data-v-cf162cc8] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-cf162cc8] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-cf162cc8] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-cf162cc8] {
  padding: 20px;
}

