
.wrap[data-v-9947987e] {
    padding: 0 26px 20px;
    border-bottom: 1px solid #F2F4F6;
}
.title[data-v-9947987e] {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #323233;
}
.desc[data-v-9947987e] {
    font-size: 14px;
    font-weight: 400;
    color: #969799;
    line-height: 22px;
}
.borderNone[data-v-9947987e] {
    border: none;
}


.content[data-v-c303f9e6] {
    height: 600px;
}
.img-list[data-v-c303f9e6] {
    width: 94px;
    height: 94px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #d9d9d9;
    float: left;
    position: relative;
}
.img-list .goods-img[data-v-c303f9e6] {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-list .selected[data-v-c303f9e6] {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -6px;
    top: -6px;
}
.no-data[data-v-c303f9e6] {
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
    color: #999999;
}
.scroll_content1[data-v-c303f9e6] {
    padding-top: 10px;
    height: 700px;
    border-right: 1px solid #eeeeee;
    overflow-y: scroll;
}
.scroll_content[data-v-c303f9e6] .ant-upload-list-picture-card {
    margin-bottom: 0 !important;
}
.delelt-item[data-v-c303f9e6]{
    position: absolute !important;
    right: 20px;
    top: 26px;
    z-index: 999;
}


.magic-square-decorate-wrap ul[data-v-58c8b2b4] {
    margin: 0;
    padding: 0;
}
.magic-square-decorate-wrap ul li[data-v-58c8b2b4] {
    list-style: none;
}
.magic-square-decorate-wrap[data-v-58c8b2b4] .ant-upload.ant-upload-select-picture-card > .ant-upload {
    padding: 0;
}
.width-100[data-v-58c8b2b4] {
    width: 100%;
}
.content[data-v-58c8b2b4] {
    padding: 24px;
    width: 100%;
    box-sizing: border-box;
}
.padding-24[data-v-58c8b2b4] {
    padding: 24px;
}
.decorate-cube[data-v-58c8b2b4]{
    position: relative;
}
.decorate-cube .cube-row:last-of-type .cube-item[data-v-58c8b2b4] {
    border-right: 1px solid #e5e5e5;
}
.decorate-cube .cube-selected[data-v-58c8b2b4] {
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    color: #7d7e80;
    cursor: pointer;
    box-sizing: border-box;
}
.decorate-cube .cube-selected.active[data-v-58c8b2b4] {
    background: #e0edff;
    border: 1px solid #155bd4;
    z-index: 2;
    cursor: pointer;
}
.decorate-cube .cube-selected.active .cube-selected-text[data-v-58c8b2b4]  {
    color: #155bd4;
}
.decorate-cube .cube-selected .close-icon[data-v-58c8b2b4] {
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    z-index: 2;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background: #ffffff;
    box-sizing: border-box;
}
.decorate-cube .cube-selected-text[data-v-58c8b2b4] {
    font-size: 12px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid #ebedf0;
    box-sizing: content-box;
}
.decorate-cube .cube-selected-text img[data-v-58c8b2b4] {
    width: 100%;
    min-height: 100%;
}
.decorate-cube .cube-item[data-v-58c8b2b4]:first-child {
    border-top: 1px solid #e5e5e5;
}
.decorate-cube .cube-item[data-v-58c8b2b4] {
    background: #f8f8f8;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
.decorate-cube .cube-item.item-selecting[data-v-58c8b2b4]{
    background: #e0edff;
}
.decorate-cube .cube-item.item-selecting .plus-icon[data-v-58c8b2b4] {
    display: none;
}
.decorate-cube .cube-item.item-selected[data-v-58c8b2b4] {
    background: #e0edff;
    visibility: hidden;
}
.decorate-cube .cube-item.item-selected .plus-icon[data-v-58c8b2b4] {
    display: none;
}
.imgwrap[data-v-58c8b2b4] {
    margin-right: 10px;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.img-update[data-v-58c8b2b4] {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    background: rgba(0,0,0,0.4);
}

