.form_item[data-v-5f5ef7ab] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin: 10px 0 20px 0;
}
.form_item .title[data-v-5f5ef7ab] {
  width: 100px;
  text-align: right;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
/*加上height和滚动属性就可以，滚动条样式是系统默认样式，可能不同*/
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options[data-v-5f5ef7ab] {
  border-color: #ccc;
  height: 125px;
  overflow: auto;
}

.site_information[data-v-93885e52] {
  width: 100%;
  background-color: #ffffff;
}
.site_information .form_container[data-v-93885e52] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.site_information .form_container .form_item[data-v-93885e52] {
  width: 46%;
}

