
.ant-form-item label[data-v-ae9a20bc] {
  width: 50px;
}
.ant-col-md-8[data-v-ae9a20bc] {
  width: 25.333333%;
}
.tip-txt[data-v-ae9a20bc] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-ae9a20bc] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}

