
.edui-editor-toolbarboxinner div {
  height:22px;
  line-height: 30px;
}
.edui-combox-body {
  height: 22px;
}


.edui-editor-toolbarboxinner div {
  height:22px;
  line-height: 30px;
}
.edui-combox-body {
  height: 22px;
}


.ant-modal-body[data-v-13b8c625] {
  padding: 24px 0 24px 24px !important;
}

