
.ant-form-item label[data-v-67210463] {
  width: 50px;
}
.tip-txt[data-v-67210463] {
  margin-left:4px;font-size: 12px;
}
.add-box-tip[data-v-67210463] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label[data-v-5a6be421] {
    width: 50px;
}
.ant-card-body[data-v-5a6be421] {
    padding: 1px;
    zoom: 1;
}
.txt-green[data-v-5a6be421] {
  color: green;
}
.txt-red[data-v-5a6be421] {
    color: red;
}


.txt-green[data-v-ca070e94] {
  color: #0fb70f;
}
.txt-red[data-v-ca070e94] {
  color: red;
}
.table-operator[data-v-ca070e94] {
  margin-bottom: 10px;
}


