
[data-v-e524f08c] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.shop_list[data-v-0d271a54] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.shop_list .header_search[data-v-0d271a54] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
}
.shop_list .header_search .search_item[data-v-0d271a54] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-left: 10px;
}
.shop_list .header_search .operation_btn[data-v-0d271a54] {
  margin-left: 20px;
}
.shop_list .table_content[data-v-0d271a54] {
  padding: 0 20px;
  margin: 10px 0;
}

