.basice_set[data-v-08fcf8f2] {
  width: 100%;
}
.basice_set .input_style_240[data-v-08fcf8f2] {
  width: 360px;
}
[data-v-08fcf8f2] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.fuction_set[data-v-3c0ef6fc] {
  width: 100%;
}
.fuction_set .input_style_240[data-v-3c0ef6fc] {
  width: 360px;
}

.bind_wx[data-v-3d666254] {
  width: 100%;
}
.bind_wx .container[data-v-3d666254] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.order_review_set[data-v-59aec7e4] {
  width: 100%;
}

.village_info_set[data-v-66682706] {
  width: 100%;
}
.village_info_set .input_style_240[data-v-66682706] {
  width: 360px;
}
[data-v-66682706] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.base_config[data-v-eafb76b0] {
  width: 100%;
  margin-top: 10px;
  padding: 20px 0;
  background-color: #fff;
}

