
.wrap[data-v-9947987e] {
    padding: 0 26px 20px;
    border-bottom: 1px solid #F2F4F6;
}
.title[data-v-9947987e] {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #323233;
}
.desc[data-v-9947987e] {
    font-size: 14px;
    font-weight: 400;
    color: #969799;
    line-height: 22px;
}
.borderNone[data-v-9947987e] {
    border: none;
}


.content[data-v-7777002e] {
  padding: 24px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ant-form[data-v-7777002e] .ant-form-item {
  margin-bottom: 0;
}

