
.font-red[data-v-2cb00a82] {
    color: #ff3d0d;
}
.page-bar[data-v-2cb00a82] {
    margin: 40px;
}
ul[data-v-2cb00a82], li[data-v-2cb00a82] {
    margin: 0px;
    padding: 0px;
}
li[data-v-2cb00a82] {
    list-style: none
}
.page-bar li:first-child > a[data-v-2cb00a82] {
    margin-left: 0px
}
.page-bar a[data-v-2cb00a82] {
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
.page-bar a[data-v-2cb00a82]:hover {
    background-color: #eee;
}
.page-bar a.banclick[data-v-2cb00a82] {
    cursor: not-allowed;
}
.page-bar .active a[data-v-2cb00a82] {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.page-bar i[data-v-2cb00a82] {
    font-style: normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}


.detail-content[data-v-31046942] .ant-drawer-body {
    padding: 0;
}
.ant-table td[data-v-31046942] {
    white-space: nowrap;
}
.goods-title[data-v-31046942] {
    font-size: 20px;
    margin-right: 10px;
}
.search-content[data-v-31046942] {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-content .right[data-v-31046942] {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

