
.imgname {
  width: 100px;
}


.imgname {
  width: 100px;
}

.form_box[data-v-7e4b322c] {
  margin-top: 10px;
}
.form_box[data-v-7e4b322c]:first-of-type {
  margin-top: 0px;
}
.icon_1[data-v-7e4b322c] {
  margin-left: 72px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #999999;
}
.margin_top_10[data-v-7e4b322c] {
  margin-top: 10px;
}

