
.content[data-v-c303f9e6] {
    height: 600px;
}
.img-list[data-v-c303f9e6] {
    width: 94px;
    height: 94px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #d9d9d9;
    float: left;
    position: relative;
}
.img-list .goods-img[data-v-c303f9e6] {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.img-list .selected[data-v-c303f9e6] {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -6px;
    top: -6px;
}
.no-data[data-v-c303f9e6] {
    text-align: center;
    padding-top: 40px;
    font-size: 14px;
    color: #999999;
}
.scroll_content1[data-v-c303f9e6] {
    padding-top: 10px;
    height: 700px;
    border-right: 1px solid #eeeeee;
    overflow-y: scroll;
}
.scroll_content[data-v-c303f9e6] .ant-upload-list-picture-card {
    margin-bottom: 0 !important;
}
.delelt-item[data-v-c303f9e6]{
    position: absolute !important;
    right: 20px;
    top: 26px;
    z-index: 999;
}


.page-header[data-v-46b92ba4] {
    background-color: #eef0f3;
    padding: 14px 16px;
}
.page-header.ant-page-header[data-v-46b92ba4] .ant-page-header-heading-title {
    font-size: 18px !important;
    color: #333333;
}
.goods-img[data-v-46b92ba4] {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    border: 1px solid #d9d9d9;
}
img[data-v-46b92ba4],
video[data-v-46b92ba4] {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* you can make up upload button and sample style by using stylesheets */
.ant-upload-select-picture-card i[data-v-46b92ba4] {
    font-size: 32px;
    color: #999;
}
.ant-upload-select-picture-card .ant-upload-text[data-v-46b92ba4] {
    margin-top: 8px;
    color: #666;
}
.color-red[data-v-46b92ba4] {
    color: red;
}
.label-font-size[data-v-46b92ba4] {
    font-size: 20px;
    font-weight: bold;
}
.dynamic-delete-button[data-v-46b92ba4] {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.dynamic-delete-button[data-v-46b92ba4]:hover {
    color: #777;
}
.dynamic-delete-button[disabled][data-v-46b92ba4] {
    cursor: not-allowed;
    opacity: 0.5;
}
.color-blue[data-v-46b92ba4] {
    color: #bce8f1;
}
.msg[data-v-46b92ba4] {
    width: 100%;
    max-height: 250px;
    background-color: #d9edf7;
    padding: 20px;
}
.padL20[data-v-46b92ba4] {
    /*padding: 20px;*/
}
.row-border[data-v-46b92ba4] {
    padding: 20px;
    border: 1px lightgrey solid;
}
.upload-list-inline[data-v-46b92ba4] .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}
.upload-list-inline[data-v-46b92ba4] .ant-upload-animate-enter {
    -webkit-animation-name: uploadAnimateInlineIn;
            animation-name: uploadAnimateInlineIn;
}
.upload-list-inline[data-v-46b92ba4] .ant-upload-animate-leave {
    -webkit-animation-name: uploadAnimateInlineOut;
            animation-name: uploadAnimateInlineOut;
}
.bm-view[data-v-46b92ba4] {
    width: 650px;
    height: 500px;
}
.storeHome-title[data-v-46b92ba4] {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.image-qrcode[data-v-46b92ba4]{
    width: 200px;
}

