.stored_value[data-v-64fcf897] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.stored_value .header_search[data-v-64fcf897] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.stored_value .header_search .search_item[data-v-64fcf897] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.stored_value .header_search .operation_btn[data-v-64fcf897] {
  margin-left: 20px;
}
.stored_value .table_content[data-v-64fcf897] {
  padding: 0 20px;
  margin: 10px 0;
}

