.form_title[data-v-22fb6c9c] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-22fb6c9c] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-22fb6c9c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-22fb6c9c] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
[data-v-22fb6c9c] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}


.ant-card-input_park[data-v-0fea8e09] {
    width: 300px;
    margin-top: 15px;
}
.ant-card-span_park[data-v-0fea8e09] {
    margin-right: 150px;
    padding-left: 113px;
    padding-top: 10px;
}
.ant-card-span1_park[data-v-0fea8e09] {
    margin-right: 10px;
}

.lane_management[data-v-a7aea864] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.lane_management .header_search[data-v-a7aea864] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.lane_management .header_search .search_item[data-v-a7aea864] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.lane_management .header_search .operation_btn[data-v-a7aea864] {
  margin-left: 20px;
}
.lane_management .table_content[data-v-a7aea864] {
  padding: 0 20px;
  margin: 10px 0;
}

