.imgname[data-v-e3b280c4] {
  width: 100px;
}
[data-v-e3b280c4] .project_info_1 .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-e3b280c4] .project_info_1 .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-e3b280c4] .project_info_1 .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-e3b280c4] .ant-form-item .label {
  width: 116px !important;
}
[data-v-e3b280c4] .project_info_1 .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

