
.wrap[data-v-93881a6a] {
    width: 100%;
    min-height: 100%;
}
.page-title[data-v-93881a6a] {
    padding: 20px 30px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
.content[data-v-93881a6a] {
    margin: 20px 30px;
}
.ant-row-flex[data-v-93881a6a] {
    margin-bottom: 12px;
}
.ant-form-item[data-v-93881a6a] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}
.ant-form-item-control-wrapper[data-v-93881a6a] {
    padding-right: 100px;
    -ms-flex: 1;
        flex: 1;
    box-sizing: border-box;
}
.ant-form-item-children[data-v-93881a6a] {
    width: 100%;
    display: inline-block;
}
.total-performance[data-v-93881a6a] {
    margin: 20px 0;
    padding: 0 30px;
    width: 100%;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
}
.cr-f1[data-v-93881a6a] {
    color: #f1f1f1;
}
.card_tab[data-v-93881a6a] {
    text-align: center;
    width: 140px;
    float: left;
    margin: 0 0 20px 0;
}
.card_tab span[data-v-93881a6a] {
    color: #000000;
    font-size: 15px;
    padding: 7px 10px;
}
.card_tab span.on[data-v-93881a6a] {
    color: #1890ff;
    border-bottom: 2px solid #1890ffcc;
}
.card-item[data-v-93881a6a] {
    border: 1px solid #efefef;
    margin-left: 80px;
}

