
[data-v-af4fe400] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-af4fe400] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-af4fe400] .box_width {
  display: inline-block;
  width: 97px !important;
}
[data-v-af4fe400] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-af4fe400] .ant-input-number {
  width: 300px !important;
  display: inline-block;
}
[data-v-af4fe400] .float_l {
  float: left;
}


[data-v-bb90f262] .but_1 {
  margin-right: 10px;
  display: inline-block;
}
.content-p1[data-v-bb90f262] {
  color: #52A5FF;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
.message-suggestions-list-box[data-v-bb90f262] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-bb90f262] {
  padding: 5px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-bb90f262] {
  padding: 10px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-bb90f262] {
  padding: 20px;
}
[data-v-bb90f262] .message-suggestions-list-box .message_box {
  padding: 20px;
}
[data-v-bb90f262] .lbsf {
  float: right;
  margin-right: 24px;
}
[data-v-bb90f262] .input1 {
  width: 60% !important;
}
[data-v-bb90f262] .but-box {
  width: 365px !important;
  padding-left: 0 !important;
}
[data-v-bb90f262] .but-box button {
  margin-right: 20px !important;
}

