.basice_set[data-v-08fcf8f2] {
  width: 100%;
}
.basice_set .input_style_240[data-v-08fcf8f2] {
  width: 360px;
}
[data-v-08fcf8f2] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

