
.search[data-v-d9b6d596] .ant-form-item-children {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.statisticsData[data-v-d9b6d596] {
    font-size: 30px;
    color: #000000;
}
.order-header[data-v-d9b6d596] {
    padding: 16px 0;
    width: 100%;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    color: rgba(0, 0, 0, 0.85);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.order-body[data-v-d9b6d596] {
    overflow-y: scroll !important;
    height: 478px !important;
}
.mt-row[data-v-d9b6d596] {
    margin-top: 0px;
}
.mb-50[data-v-d9b6d596] {
    margin-bottom: 50px;
}
.search[data-v-d9b6d596] label {
    padding-left: 26px;
}
.padding-left-24[data-v-d9b6d596] {
    padding-left: 24px;
}
.a-form-item.ant-form-item[data-v-d9b6d596] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 23%;
    min-width: 360px;
}
.a-form-item[data-v-d9b6d596] .ant-form-item-control-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 240px;
}
.input-class[data-v-d9b6d596] {
    width: 100%;
}
.ant-card-bordered[data-v-d9b6d596] {
    border: unset;
}
.mt-10.ant-table-wrapper[data-v-d9b6d596] {
    display: none;
}
.spinning[data-v-d9b6d596] {
    position: absolute;
    top: 50%;
    left: 50%;
}
.tab-item-wrap[data-v-d9b6d596] .ant-badge-count,
.ant-badge-dot[data-v-d9b6d596],
.ant-badge .ant-scroll-number-custom-component[data-v-d9b6d596] {
    -webkit-transform: translate(99%, -50%);
            transform: translate(99%, -50%);
}
.colorBlue[data-v-d9b6d596] {
    color: blue;
    width: 40px;
    text-align: center;
    font-weight: bold;
}
.colorRed[data-v-d9b6d596] {
    color: red;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

