/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-statistic {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
}
.ant-statistic-title {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}
.ant-statistic-content {
  color: rgba(0, 0, 0, 0.85);
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.ant-statistic-content-value-decimal {
  font-size: 16px;
}
.ant-statistic-content-prefix,
.ant-statistic-content-suffix {
  display: inline-block;
}
.ant-statistic-content-prefix {
  margin-right: 4px;
}
.ant-statistic-content-suffix {
  margin-left: 4px;
  font-size: 16px;
}


.mb-0[data-v-d096130e] {
  margin-bottom: 0;
}


.width-auto[data-v-78fe0e99] {
  width: 100%;
}
.deliver-item[data-v-78fe0e99] {
  width: calc(100% / 7);
}
.date-num[data-v-78fe0e99] {
  margin-bottom: 5px;
  padding: 14px 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}
.date-num.active[data-v-78fe0e99] {
  border-color: orange;
  color: orange;
}


.order-status[data-v-6a8f5c9e] {
  font-size: 30px;
}
.countdown[data-v-6a8f5c9e] {
  font-size: 18px;
}
.border-right[data-v-6a8f5c9e] {
  border-right: 1px solid #e8e8e8;
}
.a-card[data-v-6a8f5c9e] .ant-card-body {
  padding: 0;
}
.card-item[data-v-6a8f5c9e] {
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.border-dash[data-v-6a8f5c9e] {
  border-left: 1px dashed #e8e8e8;
  border-right: 1px dashed #e8e8e8;
}
.mb-10[data-v-6a8f5c9e] {
  margin-bottom: 10px;
}
.mt-30[data-v-6a8f5c9e] {
  margin-top: 30px;
}
.a-table[data-v-6a8f5c9e] table {
  border-top: 1px solid #e8e8e8;
  /*border-right: 1px solid #e8e8e8;*/
  border-left: 1px solid #e8e8e8;
}
.wrap[data-v-6a8f5c9e] .ant-descriptions-item {
  padding-bottom: 4px;
}
.descriptions-item[data-v-6a8f5c9e] {
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;
}
.descriptions-item-content[data-v-6a8f5c9e] {
  color: rgba(0, 0, 0, 0.65);
}
.descriptions-item span[data-v-6a8f5c9e] {
  display: inline-block;
}
h2[data-v-6a8f5c9e] {
  margin: 0;
  color: #000000;
  font-weight: normal;
}
.flex-nowrap[data-v-6a8f5c9e] {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.forms[data-v-6a8f5c9e] .ant-descriptions-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.popconfirm[data-v-6a8f5c9e] .ant-popover-inner-content {
  min-width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popover[data-v-6a8f5c9e] .ant-popover-content {
  min-width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-back[data-v-6a8f5c9e] .ant-page-header-heading-title {
  font-size: 16px !important;
  color: #2981d2;
}
.page-back[data-v-6a8f5c9e] .ant-page-header-back-button {
  color: #2981d2;
}

