.form_title[data-v-3ac1dfc4] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-3ac1dfc4] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-3ac1dfc4] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-3ac1dfc4] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
[data-v-3ac1dfc4] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.parking_space[data-v-622b822e] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.parking_space .header_search[data-v-622b822e] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.parking_space .header_search .search_item[data-v-622b822e] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: 10px 20px;
}
.parking_space .header_search .operation_btn[data-v-622b822e] {
  margin-left: 20px;
}
.parking_space .table_content[data-v-622b822e] {
  padding: 0 20px;
  margin: 10px 0;
}

