.table-content[data-v-2d0dc16a] {
  padding: 30px 10px;
}
.simple-title[data-v-2d0dc16a] {
  max-width: 100px;
  display: inline-block;
  cursor: pointer;
}
.image-change[data-v-2d0dc16a] {
  width: 80px;
  height: 80px;
}

