
.content[data-v-7310db8a] {
  overflow: hidden;
}
.code-box[data-v-7310db8a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.code[data-v-7310db8a] {
  margin: 10px;
}
.code img[data-v-7310db8a] {
  width: 250px;
  height: 250px;
  /* border: 1px solid #c1c1c1; */
}
.error-msg[data-v-7310db8a] {
  width: 200px;
  height: 200px;
  border: 1px solid #c1c1c1;
}


.detail-content[data-v-648de8aa] {
  max-height: 600px;
  overflow-y: auto;
}
.detail-content[data-v-648de8aa] .ant-row .ant-col,
.detail-content[data-v-648de8aa] .ant-row-flex .ant-col {
  padding: 6px 4px;
}
.detail-content[data-v-648de8aa] .ant-row,
.detail-content[data-v-648de8aa] .ant-row-flex {
  /* border-bottom: 1px solid #e8e8e8; */
}
.left-border[data-v-648de8aa] {
  /* border-left: 1px solid #e8e8e8; */
  padding-left: 10px;
}
.table-title[data-v-648de8aa] {
  font-weight: bold;
  color: black;
}
.table-title-1[data-v-648de8aa] {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}
.table-title-2[data-v-648de8aa] {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

.edit-sort[data-v-5a259a06] {
  display: none;
}
.form-content[data-v-5a259a06] {
  margin-bottom: 16px;
}
.button-content[data-v-5a259a06] {
  padding: 30px 10px;
}

