.form_title[data-v-0700119c] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-0700119c] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-0700119c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-0700119c] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}
.form_item[data-v-0700119c] {
  width: 49%;
}
[data-v-0700119c] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.add_coupon[data-v-0700119c] {
  width: 100%;
}
.form_content[data-v-0700119c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.label_title[data-v-0700119c] {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-0700119c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pic_item[data-v-0700119c] {
  width: 46%;
}
.pic_item img[data-v-0700119c] {
  width: 100%;
}

.month_cars[data-v-36e2ad16] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.month_cars .header_search[data-v-36e2ad16] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.month_cars .header_search .search_item[data-v-36e2ad16] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.month_cars .header_search .operation_btn[data-v-36e2ad16] {
  margin-left: 20px;
}
.month_cars .table_content[data-v-36e2ad16] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-2490549b] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-2490549b] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-2490549b] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-2490549b] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-2490549b] {
  width: 49%;
}
.label_title[data-v-2490549b] {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-2490549b] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pic_item[data-v-2490549b] {
  width: 46%;
}
.pic_item img[data-v-2490549b] {
  width: 100%;
}
[data-v-2490549b] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.coupon_list[data-v-45175cb3] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.coupon_list .header_search[data-v-45175cb3] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.coupon_list .header_search .search_item[data-v-45175cb3] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.coupon_list .header_search .operation_btn[data-v-45175cb3] {
  margin-left: 20px;
}
.coupon_list .table_content[data-v-45175cb3] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-434b5e1e] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-434b5e1e] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-434b5e1e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-434b5e1e] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-434b5e1e] {
  width: 49%;
}
[data-v-434b5e1e] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.add_temporary[data-v-434b5e1e] {
  width: 100%;
}
.form_content[data-v-434b5e1e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.label_title[data-v-434b5e1e] {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-434b5e1e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pic_item[data-v-434b5e1e] {
  width: 46%;
}
.pic_item img[data-v-434b5e1e] {
  width: 100%;
}

.temporary_cars[data-v-13031473] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.temporary_cars .header_search[data-v-13031473] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.temporary_cars .header_search .search_item[data-v-13031473] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.temporary_cars .header_search .operation_btn[data-v-13031473] {
  margin-left: 20px;
}
.temporary_cars .table_content[data-v-13031473] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-13cb3652] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-13cb3652] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-13cb3652] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-13cb3652] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-13cb3652] {
  width: 49%;
}
[data-v-13cb3652] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.add_manual[data-v-13cb3652] {
  width: 100%;
}
.form_content[data-v-13cb3652] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.label_title[data-v-13cb3652] {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-13cb3652] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pic_item[data-v-13cb3652] {
  width: 46%;
}
.pic_item img[data-v-13cb3652] {
  width: 100%;
}

.manual_open[data-v-3ecab2a6] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.manual_open .header_search[data-v-3ecab2a6] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.manual_open .header_search .search_item[data-v-3ecab2a6] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.manual_open .header_search .operation_btn[data-v-3ecab2a6] {
  margin-left: 20px;
}
.manual_open .table_content[data-v-3ecab2a6] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-999b381e] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-999b381e] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-999b381e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-999b381e] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-999b381e] {
  width: 49%;
}
[data-v-999b381e] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.form_content[data-v-999b381e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form_content_2[data-v-999b381e] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-107px);
          transform: translateX(-107px);
}
.label_title[data-v-999b381e] {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.form_item_2[data-v-999b381e] {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.not_persent[data-v-13e3312e] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.not_persent .header_search[data-v-13e3312e] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.not_persent .header_search .search_item[data-v-13e3312e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.not_persent .header_search .operation_btn[data-v-13e3312e] {
  margin-left: 20px;
}
.not_persent .table_content[data-v-13e3312e] {
  padding: 0 20px;
  margin: 10px 0;
}

.storage_battery[data-v-58696747] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.storage_battery .header_search[data-v-58696747] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.storage_battery .header_search .search_item[data-v-58696747] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.storage_battery .header_search .operation_btn[data-v-58696747] {
  margin-left: 20px;
}
.storage_battery .table_content[data-v-58696747] {
  padding: 0 20px;
  margin: 10px 0;
}

.stored_value[data-v-7499bfb0] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.stored_value .header_search[data-v-7499bfb0] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.stored_value .header_search .search_item[data-v-7499bfb0] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.stored_value .header_search .operation_btn[data-v-7499bfb0] {
  margin-left: 20px;
}
.stored_value .table_content[data-v-7499bfb0] {
  padding: 0 20px;
  margin: 10px 0;
}

