.form_title[data-v-8f1d52d4] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-8f1d52d4] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-8f1d52d4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-8f1d52d4] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
[data-v-8f1d52d4] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.form_title[data-v-82ea25b4] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-82ea25b4] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-82ea25b4] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-82ea25b4] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
[data-v-82ea25b4] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.black_list[data-v-5cd9614e] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.black_list .left_grouping[data-v-5cd9614e] {
  width: 17%;
  padding: 20px;
}
.black_list .left_grouping .menu_title[data-v-5cd9614e] {
  height: 50px;
  background-color: #ccc6c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.black_list .left_grouping .menu_content[data-v-5cd9614e] {
  width: 100%;
}
.black_list .left_grouping .menu_content .menu_item[data-v-5cd9614e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.black_list .left_grouping .menu_content .menu_item .cat_name[data-v-5cd9614e] {
  display: inline-block;
  white-space: nowrap;
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.black_list .right_content[data-v-5cd9614e] {
  width: 83%;
}
.black_list .right_content .header_search[data-v-5cd9614e] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.black_list .right_content .header_search .search_item[data-v-5cd9614e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.black_list .right_content .header_search .operation_btn[data-v-5cd9614e] {
  margin-left: 20px;
}
.black_list .right_content .table_content[data-v-5cd9614e] {
  padding: 0 20px;
  margin: 10px 0;
}

