
.ant-form-item label[data-v-334646c2] {
  width: 50px;
}
.ant-col-md-8[data-v-334646c2] {
  width: 25.333333%;
}
.tip-txt[data-v-334646c2] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-334646c2] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


[data-v-e09b864a] .ant-form-item-control-wrapper {
  display: inline-block;
}

