#prevention_control[data-v-731e3f73] {
  width: calc(100vw/4 - 10px);
  height: calc((100vh - 90px - 6px)/3 - 42px);
}
#prevention_control .details_list[data-v-731e3f73] {
  width: 100%;
  height: 100%;
}
#prevention_control .details_list .swiper_slide_1[data-v-731e3f73] {
  width: 100%;
  height: 100%;
}
#prevention_control .details_list .swiper_slide_1 .echarts_box_1[data-v-731e3f73] {
  width: 100%;
  height: 100%;
}
#prevention_control .details_list .swiper_slide_1 .echarts_box_1 .echarts_3[data-v-731e3f73] {
  width: 100%;
  height: 100%;
}

