.wrap[data-v-73214b76] {
  width: 100%;
  min-height: 100%;
}
.wrap .page-title[data-v-73214b76] {
  padding: 20px 30px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.wrap .content[data-v-73214b76] {
  margin: 20px 30px;
}
.wrap .content .ant-row-flex[data-v-73214b76] {
  margin-bottom: 18px;
}
.wrap .content[data-v-73214b76] .ant-form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .content[data-v-73214b76] .ant-form-item /deep/ .ant-form-item-control-wrapper {
  padding-right: 100px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrap .content[data-v-73214b76] .ant-form-item /deep/ .ant-form-item-control-wrapper /deep/ .ant-form-item-children {
  width: 100%;
  display: inline-block;
}
.wrap .content[data-v-73214b76] .ant-form-item /deep/ .ant-form-item-control-wrapper /deep/ .ant-form-item-children .ant-calendar-picker {
  width: 100%;
}
.wrap .content[data-v-73214b76] .ant-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrap .content[data-v-73214b76] .ant-input-group .ant-select {
  min-width: 116px;
}
.wrap .content .total-performance[data-v-73214b76] {
  margin: 20px 0;
  padding: 0 30px;
  width: 100%;
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1;
}
.wrap .content .total-performance .cr-f1[data-v-73214b76] {
  color: #f1f1f1;
}

