
th.column-money[data-v-69389422],
td.column-money[data-v-69389422] {
    text-align: right !important;
}
.label-sm[data-v-69389422] {
    color: green;
}
.label-sm.blue[data-v-69389422] {
    color: #1890ff !important;
}

