
[data-v-13ec3c16] .ant-form-item-control-wrapper {
  display: inline-block;
}
[data-v-13ec3c16] .addMaterial .ant-form-item-label {
  vertical-align: top;
}
[data-v-13ec3c16] .ant-upload-list-text {
  width: 650px;
}
.previewimg img[data-v-13ec3c16] {
  cursor: pointer;
}


[data-v-39cca40d] .ant-form-item-control-wrapper {
  display: inline-block;
}

