.table-content[data-v-2d0dc16a] {
  padding: 30px 10px;
}
.simple-title[data-v-2d0dc16a] {
  max-width: 100px;
  display: inline-block;
  cursor: pointer;
}
.image-change[data-v-2d0dc16a] {
  width: 80px;
  height: 80px;
}

.form-content[data-v-26992afc] {
  margin-bottom: 16px;
}
.button-content[data-v-26992afc] {
  padding: 30px 10px;
}
.banking_title[data-v-26992afc] {
  max-width: 100px;
  display: inline-block;
  cursor: pointer;
}

