.health_care[data-v-a710d322] {
  height: calc(20vh - 32px);
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}
.health_care .left_view[data-v-a710d322] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 30%;
  height: 100%;
}
.health_care .left_view .label_item[data-v-a710d322] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.health_care .left_view .label_item .left_con[data-v-a710d322] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.health_care .left_view .label_item .left_con .icon[data-v-a710d322] {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: #6E94C5;
}
.health_care .left_view .label_item .left_con .title[data-v-a710d322] {
  max-width: 70px;
  color: #ffffff;
  margin-left: 10px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.health_care .left_view .label_item .right_value[data-v-a710d322] {
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.health_care .right_chart[data-v-a710d322] {
  width: 70%;
  height: 100%;
}

