
.ant-modal-body[data-v-343ff129] {
  padding: 24px 0 24px 24px !important;
}


section#contentView[data-v-3ee8ebfc] {
  background-color: #fff !important;
}
#title[data-v-3ee8ebfc] {
  font-size: 15px;
  font-weight: bold;
}
iframe[data-v-3ee8ebfc] {
  height: 600px;
  width: 318px;
}
.refresh[data-v-3ee8ebfc] {
  top: 568px;
  right: -156px;
}
button.ant-switch[data-v-3ee8ebfc] {
  position: relative;
  bottom: -38px;
  right: -66px;
}


