.owner_msg .label_con[data-v-07ba4841] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.owner_msg .label_con[data-v-07ba4841]:nth-child(1) {
  margin-top: 0;
}
.owner_msg .label_con .title[data-v-07ba4841] {
  font-weight: bold;
}
.owner_msg .label_con .checkbox_con[data-v-07ba4841] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

