.account-community-config-info-view[data-v-60b83c5c] {
  margin: 30px 20px;
  background-color: white;
  padding: 30px;
}
.imgname[data-v-60b83c5c] {
  width: 80px;
}
.ant-col-12[data-v-60b83c5c] {
  width: 70%;
}

