
.ant-form-item label[data-v-21c34c8b] {
  width: 50px;
}
.ant-col-md-8[data-v-21c34c8b] {
  width: 25.333333%;
}
.tip-txt[data-v-21c34c8b] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-21c34c8b] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


[data-v-4c37db68] .ant-modal-body{padding: 12px;}

