
[data-v-55503d7a] .ant-form-item-control-wrapper {
    display: inline-block;
}
.account-community-config-info-view[data-v-55503d7a] {
    margin: 30px 20px;
    background-color: white;
    padding: 30px;
}
.imgname[data-v-55503d7a] {
    width: 80px;
}
.ant-col-12[data-v-55503d7a] {
    width: 70%;
}

