
.ant-form-item label[data-v-cd0916c4] {
  width: 50px;
}
.tip-txt[data-v-cd0916c4] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-cd0916c4] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}
.imgname[data-v-cd0916c4] {
  width: 100px;
}
.ant-radio-wrapper[data-v-cd0916c4] {
  margin-right: 45px;
}
.ant-card-body[data-v-cd0916c4] {
  padding: 1px;
  zoom: 1;
}

