.form_title[data-v-749095ad] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-749095ad] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-749095ad] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-749095ad] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-top: 20px;
}
.form_item[data-v-749095ad] {
  width: 49%;
}
[data-v-749095ad] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.add_coupon[data-v-749095ad] {
  width: 100%;
}
.form_content[data-v-749095ad] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.label_title[data-v-749095ad] {
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-749095ad] {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.pic_item[data-v-749095ad] {
  width: 46%;
}
.pic_item img[data-v-749095ad] {
  width: 100%;
}

.month_cars[data-v-5e8841ed] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.month_cars .header_search[data-v-5e8841ed] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.month_cars .header_search .search_item[data-v-5e8841ed] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.month_cars .header_search .operation_btn[data-v-5e8841ed] {
  margin-left: 20px;
}
.month_cars .table_content[data-v-5e8841ed] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-7f3cb46a] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-7f3cb46a] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-7f3cb46a] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-7f3cb46a] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-7f3cb46a] {
  width: 49%;
}
.label_title[data-v-7f3cb46a] {
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-7f3cb46a] {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.pic_item[data-v-7f3cb46a] {
  width: 46%;
}
.pic_item img[data-v-7f3cb46a] {
  width: 100%;
}
[data-v-7f3cb46a] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.coupon_list[data-v-fa401aac] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.coupon_list .header_search[data-v-fa401aac] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.coupon_list .header_search .search_item[data-v-fa401aac] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.coupon_list .header_search .operation_btn[data-v-fa401aac] {
  margin-left: 20px;
}
.coupon_list .table_content[data-v-fa401aac] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-8bad04d2] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-8bad04d2] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-8bad04d2] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-8bad04d2] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-8bad04d2] {
  width: 49%;
}
[data-v-8bad04d2] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.add_manual[data-v-8bad04d2] {
  width: 100%;
}
.form_content[data-v-8bad04d2] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.label_title[data-v-8bad04d2] {
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.pic_container[data-v-8bad04d2] {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.pic_item[data-v-8bad04d2] {
  width: 46%;
}
.pic_item img[data-v-8bad04d2] {
  width: 100%;
}

.manual_open[data-v-e53030d8] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.manual_open .header_search[data-v-e53030d8] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.manual_open .header_search .search_item[data-v-e53030d8] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.manual_open .header_search .operation_btn[data-v-e53030d8] {
  margin-left: 20px;
}
.manual_open .table_content[data-v-e53030d8] {
  padding: 0 20px;
  margin: 10px 0;
}

.form_title[data-v-6a4688bd] {
  font-size: 14px;
  font-weight: bold;
}
.form_line[data-v-6a4688bd] {
  height: 0.5px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0;
}
.generation_rules[data-v-6a4688bd] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 5px;
}
.footer_button[data-v-6a4688bd] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: 50px;
}
.form_item[data-v-6a4688bd] {
  width: 49%;
}
[data-v-6a4688bd] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}
.form_content[data-v-6a4688bd] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form_content_2[data-v-6a4688bd] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  transform: translateX(-107px);
}
.label_title[data-v-6a4688bd] {
  font-weight: bold;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  border-left: 6px solid skyblue;
  margin-left: 10px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 15px;
  margin-bottom: 20px;
}
.form_item_2[data-v-6a4688bd] {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.not_persent[data-v-206e34b2] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.not_persent .header_search[data-v-206e34b2] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.not_persent .header_search .search_item[data-v-206e34b2] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.not_persent .header_search .operation_btn[data-v-206e34b2] {
  margin-left: 20px;
}
.not_persent .table_content[data-v-206e34b2] {
  padding: 0 20px;
  margin: 10px 0;
}

.storage_battery[data-v-2d1e179e] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.storage_battery .header_search[data-v-2d1e179e] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.storage_battery .header_search .search_item[data-v-2d1e179e] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.storage_battery .header_search .operation_btn[data-v-2d1e179e] {
  margin-left: 20px;
}
.storage_battery .table_content[data-v-2d1e179e] {
  padding: 0 20px;
  margin: 10px 0;
}

.stored_value[data-v-6a335599] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
}
.stored_value .header_search[data-v-6a335599] {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
}
.stored_value .header_search .search_item[data-v-6a335599] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
.stored_value .header_search .operation_btn[data-v-6a335599] {
  margin-left: 20px;
}
.stored_value .table_content[data-v-6a335599] {
  padding: 0 20px;
  margin: 10px 0;
}

