
.imgname{
    width: 100px;
}


[data-v-17351cda] .rule_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-17351cda] .rule_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-17351cda] .rule_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-17351cda] .rule_info .ant-select {
  width: 20% !important;
}

