
.keyword[data-v-0988591b] {
    width: 300px;
}
.link-btn.ant-btn[data-v-0988591b] {
    padding: 0 4px;
}
.flex-direction[data-v-0988591b] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.switch-btn.ant-switch[data-v-0988591b] {
    min-width: 56px;
}
.sort-input[data-v-0988591b] {
    max-width: 70px;
}
.commission-input[data-v-0988591b] {
    width: 320px;
}

