
[data-v-b4f2ba94] .ant-form-item label {
  width: 50px;
}
.tip-txt[data-v-b4f2ba94] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-b4f2ba94] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}

