.upload-img-container[data-v-5afeb148] {
  width: 102px;
  height: 102px;
}
.file-upload[data-v-5afeb148] .ant-upload-list-item-name {
  color: #999999 !important;
}

.account-community-config-info-view[data-v-7c01b942] {
  margin: 30px 20px;
  background-color: white;
  padding: 30px;
}

