.position-review-list[data-v-87b27aa4] {
  margin: 20px;
  min-height: 90%;
}
.check-modal .title[data-v-87b27aa4] {
  text-align: right;
  color: #999;
}
.check-modal .content[data-v-87b27aa4] {
  color: #333;
}

