.message-suggestions-list-box[data-v-0ea6baae] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-0ea6baae] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-list-box .add-box[data-v-0ea6baae] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-0ea6baae] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-0ea6baae] {
  padding: 20px;
}
.lbsf[data-v-0ea6baae] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-0ea6baae] {
  padding-top: 15px;
  padding-bottom: 15px;
}


.imgname {
  width: 100px;
}
.ant-card-body {
  padding: 0px;
  padding-left: 24px;
  zoom: 1;
}
.ant-modal-body {
  padding: 24px;
  zoom: 1;
}
.ant-card-bordered {
  border: 0px;
}
.ant-input[disabled] {
  color: rgba(0, 0, 0, 0.65);
  background-color: #ffffff;
  cursor: not-allowed;
  opacity: 1;
}
.ant-card-input {
  color:#333333;
  width: 30%;
 /* margin-left: 24px;*/
  border: 0px;
}
.ant-card-span {
  padding-right: 55px;
}
.ant-card-span1 {
  padding-right: 80px;
}
.ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 14px;
  background: transparent;
  border-bottom: 0px;
  border-radius: 2px 2px 0 0;
  zoom: 1;
}


.imgname {
  width: 100px;
}
.refund_type_desc table{font-weight: bold;}
.refund_type_desc  .ant-descriptions-item-colon,.refund_type_desc .ant-descriptions-item-content{padding: 8px 20px;}

.imgname[data-v-78222d74] {
  width: 100px;
}
.ant-modal-body[data-v-78222d74] {
  padding: 24px;
  zoom: 1;
}
.ant-table table[data-v-78222d74] {
  width: 100%;
  text-align: left;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}
.module_two[data-v-78222d74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.module_two .table_top[data-v-78222d74] {
  border: 0.5px solid #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 27px;
}
.module_two .table_top .header_item[data-v-78222d74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.module_two .table_top .header_item[data-v-78222d74]:nth-child(1) {
  margin-left: 10px;
}
.module_two .table_top .header_item[data-v-78222d74]:nth-last-child(1) {
  margin-right: 20px;
}
.module_two .table_container[data-v-78222d74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-left: 0.5px solid #999999;
}
.module_two .table_container .table_item[data-v-78222d74] {
  border: 0.5px solid #999999;
  border-left: 0;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.module_two .table_footer_one[data-v-78222d74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 0.5px solid #999999;
  width: 100%;
}
.module_two .table_footer_one .table_item[data-v-78222d74] {
  border: 0.5px solid #999999;
  border-left: 0;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.module_two .table_footer_two[data-v-78222d74] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 0.5px solid #999999;
  width: 100%;
}
.module_two .table_footer_two .left_title[data-v-78222d74] {
  height: 27px;
  width: 25%;
  border: 0.5px solid #999999;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}
.module_two .table_footer_two .right_content[data-v-78222d74] {
  height: 27px;
  width: 75%;
  border: 0.5px solid #999999;
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
}


.imgname {
  width: 100px;
}


.imgname {
  width: 100px;
}
.refund_type_desc table{font-weight: bold;}
.refund_type_desc  .ant-descriptions-item-colon,.refund_type_desc .ant-descriptions-item-content{padding: 8px 20px;}

.message-suggestions-box-1[data-v-67bdc1b3] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-box-1 .search-box[data-v-67bdc1b3] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-box-1 .add-box[data-v-67bdc1b3] {
  padding: 20px 20px 0;
}
.message-suggestions-box-1 .components-table-demo-nested[data-v-67bdc1b3] {
  padding: 20px;
}
.message-suggestions-box-1 .message_box[data-v-67bdc1b3] {
  padding: 20px;
}
.lbsf[data-v-67bdc1b3] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-67bdc1b3] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.mg5_box[data-v-67bdc1b3] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0.5%;
}

