
.red[data-v-d25ff3fc] {
    color: red;
    cursor: pointer;
}


.wrap[data-v-8b8717a6] {
    width: 100%;
    min-height: 100%;
}
.page-title[data-v-8b8717a6] {
    padding: 20px 30px;
    border-bottom: 1px solid #f1f1f1;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
}
.content[data-v-8b8717a6] {
    margin: 20px 30px;
}
.ant-row-flex[data-v-8b8717a6] {
    margin-bottom: 12px;
}
.ant-form-item[data-v-8b8717a6] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}
.ant-form-item-control-wrapper[data-v-8b8717a6] {
    padding-right: 100px;
    -ms-flex: 1;
        flex: 1;
    box-sizing: border-box;
}
.ant-form-item-children[data-v-8b8717a6] {
    width: 100%;
    display: inline-block;
}
.total-performance[data-v-8b8717a6] {
    margin: 20px 0;
    padding: 0 30px;
    width: 100%;
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1;
}
.cr-f1[data-v-8b8717a6] {
    color: #f1f1f1;
}
.decorate-cube ul[data-v-8b8717a6] {
    margin: 0;
    padding: 0;
}
.decorate-cube ul li[data-v-8b8717a6] {
    list-style: none;
}
.decorate-cube .cube-row[data-v-8b8717a6] {
    display: -ms-flexbox;
    display: flex;
}
.decorate-cube .cube-row .cube-item[data-v-8b8717a6]:last-child {
    border-right: 1px solid #e5e5e5;
}
.decorate-cube .cube-row:first-child .cube-item[data-v-8b8717a6] {
    border-top: 1px solid #e5e5e5;
}
.decorate-cube .cube-item[data-v-8b8717a6] {
    padding: 10px;
    position: relative;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    overflow: hidden;
}

