
.ant-form-item label[data-v-5517e32f] {
    width: 50px;
}
.ant-card-body[data-v-5517e32f] {
    padding: 1px;
    zoom: 1;
}
.txt-green[data-v-5517e32f] {
  color: green;
}
.txt-red[data-v-5517e32f] {
    color: red;
}

