
.label-sm.green[data-v-204bd38a] {
    border: 1px #3e800b solid;
    padding: 3px 10px;
    color: #3e800b !important;
}
.label-sm.yellow[data-v-204bd38a] {
    border: 1px #806d07 solid;
    padding: 3px 10px;
    color: #806d07 !important;
}
.label-sm.blue[data-v-204bd38a] {
    border: 1px #309ddf solid;
    padding: 3px 10px;
    color: #309ddf !important;
}

