.handle[data-v-786f264e] {
  cursor: pointer;
}
.handle[data-v-786f264e]:hover {
  color: #1890ff;
}
.first-box[data-v-786f264e],
.second-box[data-v-786f264e],
.third-box[data-v-786f264e] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
.second-box[data-v-786f264e] {
  margin-left: 20px;
}
.third-box[data-v-786f264e] {
  margin-left: 40px;
}
.img-container[data-v-786f264e] {
  width: 40px;
  height: 40px;
}
.img-container img[data-v-786f264e] {
  width: 16px;
  height: 16px;
  margin: 12px;
}
.img-container .drag-img[data-v-786f264e] {
  cursor: move;
}
.title-con[data-v-786f264e] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  width: calc(100% - 90px);
}
.title-con .title[data-v-786f264e] {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.active[data-v-786f264e] {
  background: #1890ff20;
  box-shadow: 2px 0px 0px 0px #1890ff;
  color: #1890ff;
}
.parentactive[data-v-786f264e] {
  color: #1890ff;
}

.drag-box[data-v-6774c60e] {
  width: 100%;
  cursor: default;
  color: #333333;
}


.ant-form-item label {
  width: 50px;
}
.tip-txt {
  margin-left:4px;font-size: 12px;
}
.add-box-tip {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label {
  width: 50px;
}
.tip-txt {
  margin-left:4px;font-size: 12px;
}
.add-box-tip {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label {
  width: 50px;
}
.tip-txt {
  margin-left:4px;font-size: 12px;
}
.add-box-tip {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label {
  width: 50px;
}
.tip-txt {
  margin-left:4px;font-size: 12px;
}
.add-box-tip {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.title-item{
  max-width: 160px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  word-break: break-all;
  white-space: normal;
}
.line{
  border-right: 1px solid #ddd;height: 98%;margin-top: 10px;margin-left: 10px;
}
#components-layout-demo-basic {
  text-align: left;
  background: #ffffff;
  height: 100%;
}
#components-layout-demo-basic .ant-layout {
  height: 100%;
}
#components-layout-demo-basic .ant-layout-header,
#components-layout-demo-basic .ant-layout-footer {
  background: #ffffff;
  color: #fff;
  height: 80px;
}
#components-layout-demo-basic .ant-layout-sider {
  background: #ffffff;
  color: #fff;
}
#components-layout-demo-basic .ant-layout-content {
  background: #ffffff;
  color: #fff;
  min-height: 120px;
  line-height: 120px;
  padding-left: 20px;
}
#components-layout-demo-basic > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .ant-layout:last-child {
  margin: 0;
}
#components-layout-demo-basic .add-goods {
  margin: 0 5px;
}
#components-layout-demo-basic >>> .ant-btn-group {
  line-height: 80px;
}
#components-layout-demo-basic .edit-content {
  float: right;
  /* margin-right: 60px; */
}
#components-layout-demo-basic >>> .ant-tabs {
  display: inline-block;
}
#components-layout-demo-basic >>> .ant-layout-content {
  /*line-height: 70px;*/
}
.ant-pro-page-header-wrap-children-content,
.ant-pro-page-header-wrap-children-content >>> .ant-tabs {
  width: 100%;
}
.ant-popover-inner-content {
  padding: 12px 12px 1px !important;
}
.content-p{
  border: 1px solid rgb(235, 237, 240);background-color: #ffffff;width: 110%;margin-left: -25px;
}
.ant-tabs-nav-wrap{
  background: #FAFAFA;
  height: 98%;
  border-right: 1px solid #eee;
}
.card-container {
  margin-top: 10px;
  padding: 5px;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
  height: 100%;
  margin-top: -16px;
}
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  /*background: #fff;*/
  /*width: 1260px;*/
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #eee;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  /*background: transparent;*/
  margin-right: auto;
  width: 100px;
  text-align: center;
}
.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #eee;
  /*background: #fff;*/
}
.content_text-text{
  width:100px;
  height:80px;
  line-height:25px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  cursor:pointer;
}

