
.ant-form-item label[data-v-0ca4403c] {
  width: 50px;
}
.tip-txt[data-v-0ca4403c] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-0ca4403c] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label[data-v-f40b2176] {
  width: 50px;
}
.colorweek[data-v-f40b2176] {
  background-color: #1890ff;
}
.btn-choose[data-v-f40b2176] {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d9d9d9;
  height: 32px;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
}
.tip-txt[data-v-f40b2176] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-f40b2176] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}

