.imgname[data-v-421489b8] {
  width: 100px;
}
[data-v-421489b8] .project_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-421489b8] .project_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-421489b8] .project_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-421489b8] .project_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}
[data-v-421489b8] .help-icon {
  cursor: pointer;
  width: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #ddd;
  display: inline-block;
  text-align: center;
}


.imgname{
    width: 100px;
}
.ruleListBox .ant-popover-placement-top{
    left: 1210px !important;
    top: 250px !important;
    -webkit-transform-origin: 50% 103px !important;
            transform-origin: 50% 103px !important;
}
.ant-popover-inner {
    width: 225px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15) \9;
}

.message-tips-box[data-v-0a526f9a] {
  margin-bottom: 15px;
}
.message-suggestions-list-box[data-v-0a526f9a] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-0a526f9a] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-0a526f9a] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-0a526f9a] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-0a526f9a] {
  padding: 20px;
}
.lbsf[data-v-0a526f9a] {
  float: right;
  margin-right: 24px;
}

