
.content[data-v-3e70a0bc] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.left[data-v-3e70a0bc] {
  width: 50%;
  margin-right: 20px;
}
.right[data-v-3e70a0bc] {
  width: 40%;
}
.row[data-v-3e70a0bc] {
  margin-top: 20px;
}
.left-title[data-v-3e70a0bc] {
  text-align: right;
  line-height: 32px;
  color: #333333;
}
.pic-con[data-v-3e70a0bc] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pic-con .pic[data-v-3e70a0bc] {
  width: 120px;
  height: 160px;
  padding: 20px;
  margin-right: 20px;
}
.pic-con .active[data-v-3e70a0bc] {
  border: 1px solid red;
}
.pic-con .pic img[data-v-3e70a0bc] {
  width: 100%;
  height: 100%;
}
.show-img[data-v-3e70a0bc] {
  width: 360px;
  height: 480px;
  position: relative;
}
.show-img img[data-v-3e70a0bc] {
  width: 100%;
  height: 100%;
}
.text-cont[data-v-3e70a0bc] {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  color: red;
  text-align: center;
}
.text-cont .title[data-v-3e70a0bc] {
  font-size: 24px;
  font-weight: bold;
}
.text-cont .sub-title[data-v-3e70a0bc] {
  font-size: 18px;
  margin-top: 10px;
}
.show-img2[data-v-3e70a0bc] {
  width: 200px;
}
.show-img2 img[data-v-3e70a0bc] {
  width: 100%;
  height: auto;
}

.activity-edit .title[data-v-f866405c] {
  font-size: 28px;
  font-weight: bold;
}
.activity-edit .content .mdoel-title[data-v-f866405c] {
  color: #1890ff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.activity-edit .content .row[data-v-f866405c] {
  margin-top: 20px;
}
.activity-edit .content .row .left-title[data-v-f866405c] {
  text-align: right;
  line-height: 32px;
  color: #333333;
}
.activity-edit .content .page-item[data-v-f866405c] {
  line-height: 32px;
}
.activity-edit .content .page-item .page-item-title[data-v-f866405c] {
  color: #999999;
  margin-right: 10px;
}
.activity-edit .content .alert-style[data-v-f866405c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.activity-edit .content .alert-style .left[data-v-f866405c] {
  width: 50%;
}
.activity-edit .content .alert-style .right[data-v-f866405c] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.activity-edit .content .alert-style .right .box[data-v-f866405c] {
  width: 400px;
  margin: auto;
}
.activity-edit .content .alert-style .right .box .phone-page[data-v-f866405c] {
  height: 700px;
  border: 1px solid #999999;
  position: relative;
}
.activity-edit .content .alert-style .right .box .phone-page .header[data-v-f866405c] {
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
}
.activity-edit .content .alert-style .right .box .phone-page .alert-page[data-v-f866405c] {
  position: relative;
  width: 100%;
  height: 660px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}
.activity-edit .content .alert-style .right .box .phone-page .alert-page .alert-img[data-v-f866405c] {
  position: absolute;
  left: 50px;
  height: 400px;
  width: 300px;
  bottom: 150px;
  border-radius: 10px;
}
.activity-edit .content .alert-style .right .box .phone-page .alert-page .close-img[data-v-f866405c] {
  position: absolute;
  font-size: 28px;
  color: #fff;
  bottom: 100px;
}
.activity-edit .content .alert-style .right .box .phone-page .hover-page .hover-img[data-v-f866405c] {
  position: absolute;
  right: 0;
  height: 50px;
  width: 40px;
  top: 120px;
  z-index: 998;
}
.activity-edit .content .alert-style .right .box .phone-page .hover-page .close-img[data-v-f866405c] {
  position: absolute;
  font-size: 18px;
  top: 115px;
  right: 32px;
  color: #999;
  z-index: 999;
}
.activity-edit .content .alert-style .right .box .page-name[data-v-f866405c] {
  height: 30px;
  line-height: 20px;
  color: #6666;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.activity-edit .required[data-v-f866405c] {
  color: red;
  margin-right: 4px;
}
.activity-edit .help[data-v-f866405c] {
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
  margin-top: 10px;
}
.activity-edit .show-img[data-v-f866405c] {
  width: 102px;
  height: 102px;
}

