
.name[data-v-f761a1f6] {
  display: inline-block;
  max-width: 200px;
  white-space: wrap;
  word-break: break-all;
}
.simulate-group-num.ant-form-item[data-v-f761a1f6] {
  margin-bottom: 0;
}
.pagination-wrap[data-v-f761a1f6] {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}

