
[data-v-39cca40d] .ant-form-item-control-wrapper {
  display: inline-block;
}


[data-v-e69f4356] .ant-form-item-control-wrapper {
  display: inline-block;
}

.top_tab[data-v-7f70b913] {
  background-color: #ffffff;
  padding: 20px;
}

