
[data-v-425560b8] textarea {
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.owner_msg .label_con[data-v-701394f0] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.owner_msg .label_con[data-v-701394f0]:nth-child(1) {
  margin-top: 0;
}
.owner_msg .label_con .title[data-v-701394f0] {
  font-weight: bold;
}
.owner_msg .label_con .choose_con[data-v-701394f0] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

.owner_msg .label_con[data-v-69d727fe] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.owner_msg .label_con[data-v-69d727fe]:nth-child(1) {
  margin-top: 0;
}
.owner_msg .label_con .title[data-v-69d727fe] {
  font-weight: bold;
}
.owner_msg .label_con .checkbox_con[data-v-69d727fe] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

.user_label .label_con[data-v-dbb68476] {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 20px;
}
.user_label .label_con[data-v-dbb68476]:nth-child(1) {
  margin-top: 0;
}
.user_label .label_con .title[data-v-dbb68476] {
  font-weight: bold;
}
.user_label .label_con .radio_con[data-v-dbb68476] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: 10px;
}

