.message-suggestions-list-box[data-v-60288303] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .table-page-search-wrapper[data-v-60288303] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-60288303] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-60288303] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-60288303] {
  padding: 20px;
}

