.order_compelete[data-v-2593fedb] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_compelete[data-v-a8cc480c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.order_compelete .ant-input-number[data-v-a8cc480c] {
  width: 120px;
}

.black_list[data-v-f99ce612] {
  width: 98%;
  background-color: #ffffff;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
}
.black_list .worker_order[data-v-f99ce612] {
  min-height: 840px;
}
.black_list[data-v-f99ce612] .ant-tabs-nav-wrap {
  width: 160px;
}
.black_list[data-v-f99ce612] .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  text-align: center;
}

