
.imgname {
  width: 100px;
}


.page_top[data-v-b8bbe830]{
    background-color: #e6f7ff;
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    color: #666666;
}

