
th.column-money[data-v-3c4240ce],
td.column-money[data-v-3c4240ce] {
    text-align: right !important;
}
.label-sm[data-v-3c4240ce] {
    color: green;
}
.label-sm.blue[data-v-3c4240ce] {
    color: #1890ff !important;
}

