
.ant-form-item label[data-v-452876d5] {
  width: 50px;
}
.ant-col-md-8[data-v-452876d5] {
  width: 25.333333%;
}
.tip-txt[data-v-452876d5] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-452876d5] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label[data-v-cd0916c4] {
  width: 50px;
}
.tip-txt[data-v-cd0916c4] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-cd0916c4] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}
.imgname[data-v-cd0916c4] {
  width: 100px;
}
.ant-radio-wrapper[data-v-cd0916c4] {
  margin-right: 45px;
}
.ant-card-body[data-v-cd0916c4] {
  padding: 1px;
  zoom: 1;
}

.txt-green[data-v-9153da90] {
  color: #0fb70f;
}
.txt-red[data-v-9153da90] {
  color: red;
}
.message-suggestions-list-box[data-v-9153da90] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-9153da90] {
  padding: 20px 20px 20px;
}
.message-suggestions-list-box .add-box[data-v-9153da90] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-9153da90] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-9153da90] {
  padding: 20px;
}
.ant-col-md-8[data-v-9153da90] {
  width: 7.333333%;
}

