.form_con[data-v-16e1bebc] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form_con .form_item[data-v-16e1bebc] {
  width: 50%;
}

.deal_record[data-v-03024392] {
  height: 55vh;
  overflow-y: scroll;
  margin: 10px 0;
}
.deal_record[data-v-03024392]::-webkit-scrollbar {
  width: 0;
}
.deal_record .record_list[data-v-03024392] {
  margin: 10px;
  position: relative;
  margin: 15px 30px;
}
.deal_record .record_list .flow_line[data-v-03024392] {
  position: absolute;
  width: 2px;
  border: 0;
  height: calc(100% + 10px);
  background-color: #409EFF;
  top: 14px;
  left: -23px;
}
.deal_record .record_list .flow_icon_out[data-v-03024392] {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #409EFF;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  left: -30px;
  top: 3.5px;
}
.deal_record .record_list .flow_icon_out .flow_icon_in[data-v-03024392] {
  width: 7px;
  height: 7px;
  border-radius: 10px;
  background-color: #ffffff;
}
.deal_record .record_list .props_list[data-v-03024392] {
  width: 80%;
}
.deal_record .record_list .props_list .props_list[data-v-03024392] {
  margin: 10px 0;
}


.statistical_data {
    margin: 20px 20px;
    padding: 14px 0;
    text-align: center;
    background-color: #eee;
    font-size: 14px;
}
.statistical_fir_p {
    font-size: 16px;
}
.statistical_data p {
    margin: 0 0;
}
.tab_list {
    padding: 14px 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ccc;
}
.chatRecord {
    height: 500px;
}

.enant_content[data-v-3425cf0e] {
  background-color: #ffffff;
}
.enant_content .top_con[data-v-3425cf0e] {
  margin: 10px 0;
  padding: 20px 10px;
}
.enant_content .status-color-ok[data-v-3425cf0e] {
  color: green;
  font-weight: bold;
}
.enant_content .status-color-fail[data-v-3425cf0e] {
  color: red;
  font-weight: bold;
}

