
[data-v-4764b83f] .but_1 {
  margin-right: 10px;
  display: inline-block;
}
.content-p1[data-v-4764b83f] {
  color: #52A5FF;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
.message-suggestions-list-box[data-v-4764b83f] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-4764b83f] {
  padding: 5px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-4764b83f] {
  padding: 10px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-4764b83f] {
  padding: 20px;
}
[data-v-4764b83f] .message-suggestions-list-box .message_box {
  padding: 20px;
}
[data-v-4764b83f] .input1 {
  width: 60% !important;
}
[data-v-4764b83f] .but-box {
  width: 240px !important;
  padding-left: 0 !important;
}
[data-v-4764b83f] .but-box button {
  margin-right: 20px !important;
}
[data-v-4764b83f] .ant-calendar-picker {
  width: 75%;
}
[data-v-4764b83f] .pdno {
  padding: 0 !important;
}
[data-v-4764b83f] .but_sty {
  display: inline-block;
  margin-right: 10px;
}

