
.label-font-size[data-v-3ea7d167] {
    font-size: 16px;
    font-weight: bold;
}
.font-color[data-v-3ea7d167] {
    color: lightgrey
}
.button-big[data-v-3ea7d167] {
    width: 140px;
    height: 50px;
    border-radius: 15px;
    font-size: 22px;
}

