
[data-v-0dc6b839] .imgname {
  width: 100px;
}
[data-v-0dc6b839] .balance_info .textarea {
  width: 80% !important;
}
[data-v-0dc6b839] .label_col {
  width: 75px;
  display: inline-block;
}
[data-v-0dc6b839] .balance_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-0dc6b839] .balance_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-0dc6b839] .balance_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-0dc6b839] .balance_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}


/deep/ .imgname{
    width: 100px;
}


[data-v-2fe06a54] .but_1 {
  margin-right: 10px;
  display: inline-block;
}
.content-p1[data-v-2fe06a54] {
  color: #52A5FF;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
.message-suggestions-list-box[data-v-2fe06a54] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-2fe06a54] {
  padding: 5px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-2fe06a54] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-2fe06a54] {
  padding: 20px;
}
[data-v-2fe06a54] .message-suggestions-list-box .message_box {
  padding: 20px;
}
[data-v-2fe06a54] .lbsf {
  float: right;
  margin-right: 24px;
}

