.imgname[data-v-4538609f] {
  width: 100px;
}
[data-v-4538609f] .project_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-4538609f] .project_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-4538609f] .project_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-4538609f] .project_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}
[data-v-4538609f] .help-icon {
  cursor: pointer;
  width: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #ddd;
  display: inline-block;
  text-align: center;
}

