
.imgname {
   width: 100px;
}
.refund_type_desc table{font-weight: bold;}
.refund_type_desc  .ant-descriptions-item-colon,.refund_type_desc .ant-descriptions-item-content{padding: 8px 20px;}
.have_selected { border: 1px solid #eee; border-radius: 5px;padding: 2px 5px;background-color: #f1f1f1;margin-right: 10px;margin-bottom: 10px;
   display: inline-block;}

.message-suggestions-list-box[data-v-ffff7e92] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-ffff7e92] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-list-box .add-box[data-v-ffff7e92] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-ffff7e92] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-ffff7e92] {
  padding: 20px;
}
.lbsf[data-v-ffff7e92] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-ffff7e92] {
  padding-top: 15px;
  padding-bottom: 15px;
}

