#charts_container_14[data-v-07c7fb1f] {
  width: calc(100vw/4 - 10px);
  height: calc((100vh - 90px - 6px)/3 - 42px);
  position: relative;
}
#charts_container_14 .videoPlayer[data-v-07c7fb1f] {
  width: 92%;
  height: 92%;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  left: 20px;
  top: 10px;
}
#charts_container_14 .introduce[data-v-07c7fb1f] {
  position: absolute;
  left: 25px;
  top: 15px;
  color: #000000;
  z-index: 99;
}

