.message-suggestions-list-box[data-v-66f4315f] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .table-page-search-wrapper[data-v-66f4315f] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-66f4315f] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-66f4315f] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-66f4315f] {
  padding: 20px;
}
.tabs[data-v-66f4315f] {
  margin-left: -24px;
  margin-top: -24px;
  overflow: visible;
}
[data-v-66f4315f] .ant-tabs .ant-tabs-top-content,
.ant-tabs .ant-tabs-bottom-content[data-v-66f4315f] {
  padding-left: 24px;
}

