
[data-v-d734fa40] .ant-form-item-label {
  display: inline-block;
  overflow: hidden;
  line-height: 39.9999px;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  width: 14.666667%;
}
.account-community-config-info-view[data-v-d734fa40] {
  margin: 30px 20px;
  background-color: white;
  padding: 30px;
}
.imgname[data-v-d734fa40] {
  width: 80px;
}
.ant-col-12[data-v-d734fa40] {
  width: 70%;
}

