
.nav-box[data-v-e6a05e54] {
  padding: 0 18px;
  width: 100%;
  min-height: 30px;
  word-break:break-all;
}
.empty-nav[data-v-e6a05e54] {
  height: 30px;
  width: 100%;
  padding: 0 18px;
  color: #000000;
}

