
.notice-wrap[data-v-594a635d] {
  padding: 0 10px;
  width: 100%;
  height: 40px;
  background: #fff8e9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  color: #717171;
}

