
[data-v-27d2e03a] .imgname {
  width: 100px;
}

.table-operator[data-v-5af5904a] {
  margin-bottom: 10px;
}
[data-v-5af5904a] .span_box {
  display: inline-block;
  margin-right: 10px;
  width: 28%;
}
[data-v-5af5904a] .span_box:nth-child(1) {
  margin-left: 1.45%;
}

