
[data-v-131636d7] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-131636d7] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-131636d7] .box_width {
  display: inline-block;
  width: 97px !important;
}
[data-v-131636d7] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-131636d7] .ant-input-number {
  width: 300px !important;
  display: inline-block;
}
[data-v-131636d7] .float_l {
  float: left;
}

