
th.column-money[data-v-29ef12de],
td.column-money[data-v-29ef12de] {
    text-align: right !important;
}
.label-sm[data-v-29ef12de] {
    color: green;
}
.label-sm.blue[data-v-29ef12de] {
    color: #1890ff !important;
}

