
[data-v-b900c99e] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-b900c99e] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-b900c99e] .box_width {
  display: inline-block;
  width: 97px !important;
}
[data-v-b900c99e] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-b900c99e] .ant-input-number {
  width: 300px !important;
  display: inline-block;
}
[data-v-b900c99e] .float_l {
  float: left;
}


/deep/ .imgname{
    width: 100px;
}


[data-v-70ba7642] .imgname {
  width: 100px;
}


[data-v-a1cf285c] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-a1cf285c] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-a1cf285c] .box_width {
  display: inline-block;
  width: 97px !important;
}
[data-v-a1cf285c] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-a1cf285c] .ant-input-number {
  width: 300px !important;
  display: inline-block;
}
[data-v-a1cf285c] .float_l {
  float: left;
}


[data-v-b92a5930] .imgname {
  width: 100px;
}

.table-operator[data-v-75885692] {
  margin-bottom: 10px;
}
[data-v-75885692] .add_but {
  margin-right: 10px;
}
[data-v-75885692] .input1 {
  width: 86% !important;
}
[data-v-75885692] .span_box {
  display: inline-block;
  margin-right: 10px;
  width: 24%;
}
[data-v-75885692] .span_box:nth-child(1) {
  margin-left: 1.45%;
}

