
[data-v-a75c7cf6] .prepaid_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-a75c7cf6] .prepaid_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-a75c7cf6] .prepaid_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-a75c7cf6] .prepaid_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

