.nodata[data-v-7e297c3e] {
  width: 100%;
  height: 88%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.nodata .text_1[data-v-7e297c3e] {
  color: #1aebff;
}

