
[data-v-27d2e03a] .imgname {
  width: 100px;
}

.table-operator[data-v-abac1190] {
  margin-bottom: 10px;
}
[data-v-abac1190] .span_box {
  display: inline-block;
  margin-right: 10px;
  width: 28%;
}
[data-v-abac1190] .span_box:nth-child(1) {
  margin-left: 1.45%;
}

