
.keywords[data-v-0cb146be] {
  width: 300px;
}
.link-btn.ant-btn[data-v-0cb146be] {
  padding: 0 4px;
}
.flex-direction[data-v-0cb146be] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

