
.txt-green[data-v-35e9c468] {
  color: #0fb70f;
}
.txt-red[data-v-35e9c468] {
  color: red;
}
.table-operator[data-v-35e9c468]{
  margin-bottom: 10px;
}
.count-fee-list-tip-box[data-v-35e9c468] {
  padding:0px 4px;
}

