
.mb-0[data-v-16631c96] {
  margin-bottom: 0;
}


.order-item-wrap[data-v-ec84fd54] {
    margin-top: 10px;
    width: 100%;
    border: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
}
.order-item-header[data-v-ec84fd54] {
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 0 8px 24px;
    background: #fafafa;
}

/* .order-item-content {
      padding: 8px 0;
  } */
.order-item-content-goods[data-v-ec84fd54] {
    width: 100%;
    height: 100%;
    padding-left: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.border-bottom[data-v-ec84fd54] {
    border-bottom: 1px solid #e8e8e8;
}
.border-left[data-v-ec84fd54] {
    border-left: 1px solid #e8e8e8;
}
.goods-name[data-v-ec84fd54] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.height-inherit[data-v-ec84fd54] {
    height: 100%;
}
.content-item[data-v-ec84fd54] {
    padding: 10px;
    height: 100%;
    border-left: 1px solid #e8e8e8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    white-space: wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.content-item span[data-v-ec84fd54] {
    line-height: 26px;
}
.goods-num[data-v-ec84fd54] {
    position: relative;
}
.fold-btn[data-v-ec84fd54] {
    position: absolute;
    top: 180%;
    right: 8px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}
.fold-btn[data-v-ec84fd54] .ant-btn {
    padding: 0;
}
.goods-wrap[data-v-ec84fd54] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
.goods-item[data-v-ec84fd54] {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ml-5[data-v-ec84fd54] {
    margin-left: 5px;
}
.remark[data-v-ec84fd54],
.clerk_remark[data-v-ec84fd54] {
    word-break: break-word;
    text-align: left;
    padding: 5px 10px;
    background: #fffaeb;
    color: #f90;
    border-top: 1px solid #e8e8e8;
}
.remark[data-v-ec84fd54] {
    background: #fdeeee;
    color: #da2626;
}

