.message-suggestions-box-2[data-v-5bd3a456] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-box-2 .search-box[data-v-5bd3a456] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-box-2 .add-box[data-v-5bd3a456] {
  padding: 20px 20px 0;
}
.message-suggestions-box-2 .components-table-demo-nested[data-v-5bd3a456] {
  padding: 20px;
}
.message-suggestions-box-2 .message_box[data-v-5bd3a456] {
  padding: 20px;
}
.lbsf[data-v-5bd3a456] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-5bd3a456] {
  padding-top: 15px;
  padding-bottom: 15px;
}

