
th.column-money[data-v-38897532],
td.column-money[data-v-38897532] {
    text-align: right !important;
}
.label-sm[data-v-38897532] {
    color: green;
}
.label-sm.blue[data-v-38897532] {
    color: #1890ff !important;
}

