
.ant-form-item label[data-v-f5018bba] {
  width: 50px;
}
.tip-txt[data-v-f5018bba] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-f5018bba] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label[data-v-f40b2176] {
  width: 50px;
}
.colorweek[data-v-f40b2176] {
  background-color: #1890ff;
}
.btn-choose[data-v-f40b2176] {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d9d9d9;
  height: 32px;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
}
.tip-txt[data-v-f40b2176] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-f40b2176] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


















































































































































































































































































































































































































































































































































































































































































































































































































































    /* .ant-form-item label {
        width: 50px;
    } */
.ant-card-body[data-v-5e418988]{padding: 20px 10px 20px 10px;}
.tip-txt[data-v-5e418988] {
        margin-left:4px;font-size: 12px;
}
p[data-v-5e418988] {
        margin-top: 0;
        margin-bottom: 1em;
        margin-left: 30px;
}
.add-box-tip[data-v-5e418988] {
        text-align: -webkit-center;
        padding: 0 6px;
        margin-left: 8px;
        border-radius: 15px;
        border: none;
}
.ant-card-head[data-v-5e418988] {
        min-height: 48px;
        margin-bottom: -1px;
        padding: 0 24px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 500;
        font-size: 16px;
        background: transparent;
        border-bottom: 0px solid #e8e8e8;
        border-radius: 2px 2px 0 0;
        zoom: 1;
}
.card-set[data-v-5e418988]{
        margin-bottom: 15px;
        margin-left: 24px;
}
.flex_1[data-v-5e418988] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
}
.font_icon[data-v-5e418988] {
        display: block;
        color: red;
        font-size: 20px;
        margin-top: 5px;
}
.btn_footer[data-v-5e418988]{
		width: 85%;
		margin: 0 auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		height: 50px;
		margin-top: 20px;
}


