.order-list-box[data-v-45edc8c8] {
  background-color: white;
}
.order-list-box .search-box[data-v-45edc8c8] {
  padding: 20px 20px 0;
}
.order-list-box .add-box[data-v-45edc8c8] {
  padding: 20px 20px 0;
}
.order-list-box .components-table-demo-nested[data-v-45edc8c8] {
  padding: 20px;
}
.order-list-box .message_box[data-v-45edc8c8] {
  padding: 20px;
}
.ant-col-md-2[data-v-45edc8c8] {
  width: 8.33333333%;
}

