.message-suggestions-list-box[data-v-5e816421] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-5e816421] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-5e816421] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-5e816421] {
  padding: 20px;
}
.message-suggestions-list-box .modal_box_title[data-v-5e816421] {
  color: #000;
}
.message-suggestions-list-box .modal_box_title span[data-v-5e816421] {
  color: #F5242E !important;
}

