
.table-wrap[data-v-3f61bf5a] .ant-table-thead > tr:first-child > th:first-child {
  color: red;
}
.table-wrap[data-v-3f61bf5a] .ant-table-tbody > tr > td:first-child {
  color: red;
}
.table-wrap[data-v-3f61bf5a] .ant-table-tbody > tr > td:last-child {
  color: red;
}
.table-wrap[data-v-3f61bf5a] .ant-table-thead > tr > th {
  text-align: center;
}
.table-wrap[data-v-3f61bf5a] .ant-table table {
  text-align: center;
}

