
[data-v-5fc57bef] .ant-col-md-4 {
  padding-right: 0 !important;
}
.message-suggestions-list-box[data-v-5fc57bef] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-5fc57bef] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-5fc57bef] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-5fc57bef] {
  padding: 20px;
}

