
.ant-form-item label[data-v-8214215e] {
  width: 50px;
}
.tip-txt[data-v-8214215e] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-8214215e] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label[data-v-a9fc0da0] {
  width: 50px;
}
.colorweek[data-v-a9fc0da0] {
  background-color: #1890ff;
}
.btn-choose[data-v-a9fc0da0] {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #d9d9d9;
  height: 32px;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
}
.tip-txt[data-v-a9fc0da0] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-a9fc0da0] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.ant-form-item label {
  width: 50px;
}
.tip-txt {
  margin-left:4px;font-size: 12px;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
  margin-left: 30px;
}
.add-box-tip {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}
.ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
   border-bottom: 0px solid #e8e8e8;
  border-radius: 2px 2px 0 0;
  zoom: 1;
}
.card-set{
  margin-bottom: 15px;
  margin-left: 24px;
}


