
div[data-v-0b9f5e52] .ant-modal-body{
    max-height: 600px;
    overflow-y: auto;
}
.font-red[data-v-0b9f5e52] {
    color: #ff3d0d;
}
.page-bar[data-v-0b9f5e52] {
    margin: 40px;
}
ul[data-v-0b9f5e52], li[data-v-0b9f5e52] {
    margin: 0px;
    padding: 0px;
}
li[data-v-0b9f5e52] {
    list-style: none
}
.page-bar li:first-child > a[data-v-0b9f5e52] {
    margin-left: 0px
}
.page-bar a[data-v-0b9f5e52] {
    border: 1px solid #ddd;
    text-decoration: none;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    cursor: pointer
}
.page-bar a[data-v-0b9f5e52]:hover {
    background-color: #eee;
}
.page-bar a.banclick[data-v-0b9f5e52] {
    cursor: not-allowed;
}
.page-bar .active a[data-v-0b9f5e52] {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.page-bar i[data-v-0b9f5e52] {
    font-style: normal;
    color: #d44950;
    margin: 0px 4px;
    font-size: 12px;
}


.detail-content[data-v-be221858] .ant-drawer-body {
    padding: 0;
}
.ant-table td[data-v-be221858] {
    white-space: nowrap;
}
.goods-title[data-v-be221858] {
    font-size: 20px;
    margin-right: 10px;
}
.search-content[data-v-be221858] {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
}
.search-content .right[data-v-be221858] {
    -ms-flex-align: center;
        align-items: center;
}

