
.ant-form-item label[data-v-a15fbd74] {
    width: 50px;
}
.tip-txt[data-v-a15fbd74] {
    margin-left:4px;font-size: 12px;
}
.add-box-tip[data-v-a15fbd74] {
    text-align: -webkit-center;
    padding: 0 6px;
    margin-left: 8px;
    border-radius: 15px;
    border: none;
}



.m-colorPicker .open{width: 220px !important;z-index: 100;}


.txt-green[data-v-79e0fb83] {
    color: #0fb70f;
}
.txt-red[data-v-79e0fb83] {
    color: red;
}
.table-operator[data-v-79e0fb83] {
    margin-bottom: 10px;
}


