.imgname[data-v-f1b351f0] {
  width: 100px;
}
[data-v-f1b351f0] .project_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-f1b351f0] .project_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-f1b351f0] .project_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-f1b351f0] .project_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

