
th.column-money[data-v-3149b95e],
td.column-money[data-v-3149b95e] {
    text-align: right !important;
}
.label-sm[data-v-3149b95e] {
    color: green;
}
.label-sm.blue[data-v-3149b95e] {
    color: #1890ff !important;
}

