
.content[data-v-e91915c6] {
  padding: 20px;
  width: 680px;
  overflow: hidden;
}
.code-box[data-v-e91915c6] {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.code[data-v-e91915c6] {
  margin: 10px;
}
.code img[data-v-e91915c6] {
  width: 300px;
  height: 360px;
  border: 1px solid #c1c1c1;
}
.qr_code[data-v-e91915c6] {
  margin: 50px 10px 10px 10px;
}
.qr_code img[data-v-e91915c6] {
  width: 300px;
  height: 300px;
  border: 1px solid #c1c1c1;
}
.title_code[data-v-e91915c6] {
  margin-top: 20px;
}
.title_qr_code[data-v-e91915c6] {
  margin-top: 40px;
}
.radio-style[data-v-e91915c6] {
  width: 100%;
  text-align: center;
}
.footer-box[data-v-e91915c6] {
  text-align: right;
}
.footer-box button[data-v-e91915c6] {
  margin-top: 10px;
  margin-right: 20px;
}


.content[data-v-a460b298] {
  overflow: hidden;
}
.code-box[data-v-a460b298] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.code[data-v-a460b298] {
  margin: 10px;
}
.code img[data-v-a460b298] {
  width: 200px;
  height: 200px;
  border: 1px solid #c1c1c1;
}
.error-msg[data-v-a460b298] {
  width: 200px;
  height: 200px;
  border: 1px solid #c1c1c1;
}


.label-sm {
  font-size: 11px;
  height: 22px;
  background-color: #82af6f;
  border: 1px solid #82af6f;
  color: #ffffff;
  cursor: pointer;
  width: 84px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.label-sm.yellow {
  background-color: #f89406 !important;
  border: 1px solid #f89406 !important;
}
.label-sm.purple {
  background-color: #9585bf !important;
  border: 1px solid #9585bf !important;
}
.label-sm.blue {
  background-color: #3a87ad !important;
  border: 1px solid #3a87ad !important;
}
.label-sm.purplish-red {
  background-color: #d6487e !important;
  border: 1px solid #d6487e !important;
}

