
.ant-form-item label[data-v-b35fe9f8] {
  width: 50px;
}
.ant-col-md-8[data-v-b35fe9f8] {
  width: 25.333333%;
}
.tip-txt[data-v-b35fe9f8] {
  margin-left: 4px;
  font-size: 12px;
}
.add-box-tip[data-v-b35fe9f8] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


[data-v-f3a7785a] .ant-form-item-control-wrapper {
  display: inline-block;
}


[data-v-7f5370f3] .ant-form-item-control-wrapper {
  display: inline-block;
}


[data-v-22adae91] .ant-form-item-control-wrapper {
  display: inline-block;
}

.top_tab[data-v-198ed024] {
  background-color: #ffffff;
  padding: 20px;
}

