.imgname[data-v-14b8d2de] {
  width: 100px;
}
[data-v-14b8d2de] .project_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-14b8d2de] .project_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-14b8d2de] .project_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-14b8d2de] .project_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

.imgname[data-v-e3b280c4] {
  width: 100px;
}
[data-v-e3b280c4] .project_info_1 .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-e3b280c4] .project_info_1 .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-e3b280c4] .project_info_1 .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-e3b280c4] .ant-form-item .label {
  width: 116px !important;
}
[data-v-e3b280c4] .project_info_1 .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

.message-suggestions-box-1[data-v-becf7db6] {
  margin-top: 10px;
  background-color: white;
}
.message-suggestions-box-1 .search-box[data-v-becf7db6] {
  padding: 0 20px 0;
}
.message-suggestions-box-1 .add-box[data-v-becf7db6] {
  padding: 10px 10px 10px;
}
.lbsf[data-v-becf7db6] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-becf7db6] {
  padding-top: 15px;
  padding-bottom: 20px;
}
[data-v-becf7db6] .but-box {
  width: 365px !important;
  padding-left: 0 !important;
}

