
.width-auto[data-v-78fe0e99] {
  width: 100%;
}
.deliver-item[data-v-78fe0e99] {
  width: calc(100% / 7);
}
.date-num[data-v-78fe0e99] {
  margin-bottom: 5px;
  padding: 14px 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}
.date-num.active[data-v-78fe0e99] {
  border-color: orange;
  color: orange;
}

