.message-suggestions-list-box[data-v-32bbf759] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-32bbf759] {
  padding: 20px 35px 0;
}
.message-suggestions-list-box .add-box[data-v-32bbf759] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-32bbf759] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-32bbf759] {
  padding: 20px;
}
.lbsf[data-v-32bbf759] {
  float: right;
  margin-right: 24px;
}
.page_top[data-v-32bbf759] {
  background-color: #e6f7ff;
  display: inline-block;
  width: 100%;
  padding: 20px 20px;
  margin-bottom: 20px;
  color: #666666;
}

