.red[data-v-8e270d60] {
  color: red;
}
.user-address[data-v-8e270d60] {
  max-width: 100px;
  display: inline-block;
  cursor: pointer;
}
.message-suggestions-list-box[data-v-8e270d60] {
  padding-top: 30px;
}

