
.ant-form-item label[data-v-6713bd6c] {
  width: 50px;
}
.tip-txt[data-v-6713bd6c] {
  margin-left:4px;font-size: 12px;
}
.add-box-tip[data-v-6713bd6c] {
  text-align: -webkit-center;
  padding: 0 6px;
  margin-left: 8px;
  border-radius: 15px;
  border: none;
}


.txt-green[data-v-7d5d33c2] {
  color: #0fb70f;
}
.txt-red[data-v-7d5d33c2] {
  color: red;
}
.table-operator[data-v-7d5d33c2]{
  margin-bottom: 10px;
}


