
.imgname {
  width: 100px;
}
.ant-modal-body {
  padding: 24px;
  zoom: 1;
}
.ant-table table {width: 100%;text-align: left;border-radius: 2px 2px 0 0;border-collapse: separate;border-spacing: 0;}


.imgname {
  width: 100px;
}


/deep/ .imgname{
    width: 100px;
}
.content-p1{
    color: #52A5FF;font-weight: bold;padding: 0px 10px 0 10px;
}

