.charts_container_12[data-v-eabda938] {
  width: calc(100vw/4 - 10px);
  height: calc((100vh - 90px - 6px)/3 - 42px);
  display: -ms-flexbox;
  display: flex;
}
.charts_container_12 .left_content[data-v-eabda938] {
  height: 100%;
  width: 50%;
}
.charts_container_12 .right_content[data-v-eabda938] {
  height: 100%;
  width: 50%;
}

