
[data-v-4041c447] .ant-radio-group {
  width: 535px !important;
}
[data-v-4041c447] .ant-form label {
  width: 90px;
}


p[data-v-747ed4d8]{
  margin-left: 220px;
}


p[data-v-924751cc]{
  margin-left: 220px;
}


p[data-v-7116d110]{
  margin-left: 220px;
}


p[data-v-a182d936]{
  margin-left: 160px;
}


.allmap {
    width: 100%;
    height: 100%;
}
.map {
    width: 100%;
    height: 100%;
}
.bm-control {
    width: 100%;
    height: 80px;
}
.top{
    width: 100%;
    height: 80px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
}
.top_left{
    width: 100%;
    height: 80px;
}
.start_button{
    height: 40px;
    width: 250px;
    margin-top: 20px;
    background-color: #0a8ddf;
    border:2px solid #a1a1a1;
    border-radius:10px;
}
.select_button{
    height: 40px;
    margin-top: 20px;
}
.select_type{
    width: 20%;
}


p[data-v-b94f2a72]{
    margin-left: 170px;
}

