
[data-v-61569c0c] .ant-col-30 textarea {
  width: 75% !important;
}
[data-v-61569c0c] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-61569c0c] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-61569c0c] .box_width {
  display: inline-block;
  width: 140px !important;
}
[data-v-61569c0c] .ant-select {
  width: 20% !important;
}
[data-v-61569c0c] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}

