.imgname[data-v-24d41c2a] {
  width: 100px;
}
[data-v-24d41c2a] .project_info .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-24d41c2a] .project_info .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-24d41c2a] .project_info .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-24d41c2a] .project_info .ant-upload-picture-card-wrapper {
  width: 15% !important;
}

.message-suggestions-list-box[data-v-1bd6b92a] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-1bd6b92a] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-list-box .add-box[data-v-1bd6b92a] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-1bd6b92a] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-1bd6b92a] {
  padding: 20px;
}
.lbsf[data-v-1bd6b92a] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-1bd6b92a] {
  padding-top: 15px;
  padding-bottom: 15px;
}

.videoPlayer[data-v-19dd4a33] {
  width: 100%;
  height: 600px;
}
#myFlvVideo[data-v-19dd4a33]::-webkit-media-controls-timeline {
  display: none;
}
#myFlvVideo[data-v-19dd4a33]::-webkit-media-controls-play-button {
  display: none;
}
[data-v-19dd4a33] .ant-modal-body {
  padding: 0;
}

.detail_con[data-v-c28caa42] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.detail_con .detail_item[data-v-c28caa42] {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
}
.detail_con .detail_item .left_label[data-v-c28caa42] {
  color: #333;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.detail_con .detail_item .right_value[data-v-c28caa42] {
  color: #666;
  margin-left: 3px;
}

.top_con[data-v-5f081e8b] {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: cneter;
      -ms-flex-align: cneter;
          align-items: cneter;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.table_con[data-v-5f081e8b] {
  margin-top: 10px;
}
[data-v-5f081e8b] .ant-table-tbody tr:nth-child(2n) {
  background-color: #fafafa;
}
[data-v-5f081e8b] .ant-table-row-cell-break-word {
  padding: 8px 16px;
}

.message-suggestions-box-1[data-v-3c0050c6] {
  margin-top: 10px;
  background-color: white;
}
.message-suggestions-box-1 .search-box[data-v-3c0050c6] {
  padding: 0 20px 0;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.message-suggestions-box-1 .search-box .form_item[data-v-3c0050c6] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 7px;
}
.message-suggestions-box-1 .search-box .form_item[data-v-3c0050c6]:nth-child(1) {
  margin-left: 0;
}
.message-suggestions-box-1 .search-box .form_item .left_label[data-v-3c0050c6] {
  color: #666666;
}
.message-suggestions-box-1 .add-box[data-v-3c0050c6] {
  padding: 10px 10px 10px;
}
.lbsf[data-v-3c0050c6] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-3c0050c6] {
  padding-top: 15px;
  padding-bottom: 20px;
}
[data-v-3c0050c6] .but-box {
  width: 365px !important;
  padding-left: 0 !important;
}

