.change_diners_wrapper[data-v-375fc252] {
  width: 100%;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.change_diners_wrapper .title_container[data-v-375fc252] {
  width: 100%;
  height: 0.52083333rem;
  background-color: #fafafa;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.20833333rem;
}
.change_diners_wrapper .title_container .title_font[data-v-375fc252] {
  font-size: 0.16666667rem;
  font-weight: bold;
  color: #222222;
}
.change_diners_wrapper .title_container .leftempty_box[data-v-375fc252] {
  width: 0.10416667rem;
  height: 0.10416667rem;
}
.change_diners_wrapper .title_container .closeicon[data-v-375fc252] {
  cursor: pointer;
  width: 0.10416667rem;
  height: 0.10416667rem;
  display: -ms-flexbox;
  display: flex;
}
.change_diners_wrapper .title_container .closeicon img[data-v-375fc252] {
  width: 100%;
  height: 100%;
}
.change_diners_wrapper .bottom_container[data-v-375fc252] {
  width: 100%;
  background-color: #ffffff;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  box-sizing: border-box;
  padding: 0 0.15104167rem;
}
.change_diners_wrapper .bottom_container .vip_account_search_container[data-v-375fc252] {
  width: 100%;
  height: 0.65104167rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.change_diners_wrapper .bottom_container .vip_account_search_container .search_color_content[data-v-375fc252] {
  width: 2.08333333rem;
  height: 0.36458333rem;
  background-color: #f0f0f0;
  border-radius: 0.02083333rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  box-sizing: border-box;
  padding: 0 0.10416667rem;
}
.change_diners_wrapper .bottom_container .vip_account_search_container .search_color_content .vip_input[data-v-375fc252] {
  width: 1.25rem;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.13541667rem;
  font-weight: 500;
  color: #333333;
}
.change_diners_wrapper .bottom_container .vip_account_search_container .search_color_content .vip_input[data-v-375fc252]:-ms-input-placeholder {
  font-size: 0.10416667rem;
}
.change_diners_wrapper .bottom_container .vip_account_search_container .search_color_content .vip_input[data-v-375fc252]::placeholder {
  font-size: 0.10416667rem;
}
.change_diners_wrapper .bottom_container .vip_account_search_container .searchresult[data-v-375fc252] {
  cursor: pointer;
  width: 0.52083333rem;
  height: 0.36458333rem;
  background: #fea017;
  border-radius: 0.02083333rem;
  font-size: 0.125rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 0.36458333rem;
  margin-left: 0.078125rem;
}
.change_diners_wrapper .bottom_container .vip_account_search_container .greysearch[data-v-375fc252] {
  background: #c8c5c8;
}
.change_diners_wrapper .bottom_container .list[data-v-375fc252] {
  max-height: 3.125rem;
  padding-bottom: 0.10416667rem;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.change_diners_wrapper .bottom_container .list .package_item[data-v-375fc252] {
  margin-bottom: 10px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 0.13541667rem;
  line-height: 0.1875rem;
  color: #333333;
}
.change_diners_wrapper .bottom_container .list .package_item .package_name[data-v-375fc252] {
  -ms-flex: 1;
      flex: 1;
  margin-right: 10px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
.change_diners_wrapper .bottom_container .list .package_item .package_status[data-v-375fc252] {
  color: #c8c5c8;
}

