
[data-v-00c2d2c0] .cont_box .ant-form-item-control {
  line-height: 25px !important;
}
[data-v-00c2d2c0] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-00c2d2c0] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-00c2d2c0] .box_width {
  display: inline-block;
  width: 97px !important;
}
[data-v-00c2d2c0] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-00c2d2c0] .ant-select {
  width: 300px !important;
}
[data-v-00c2d2c0] .ant-input-number {
  width: 300px !important;
  display: inline-block;
}
[data-v-00c2d2c0] .adress_box {
  padding: 5px;
  color: white;
  background: #87B87F;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
[data-v-00c2d2c0] .times_but {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
[data-v-00c2d2c0] .el-date-editor {
  margin-right: 5px !important;
}
[data-v-00c2d2c0] .time_box {
  display: inline-block;
  margin-bottom: 5px !important;
}
[data-v-00c2d2c0] .set_time {
  display: inline-block;
  margin-left: 30px !important;
}
[data-v-00c2d2c0] .time_right {
  display: inline-block;
  width: 80% !important;
  margin-left: 1px !important;
  position: relative;
}
[data-v-00c2d2c0] .ant-upload-list {
  margin-bottom: 0 !important;
}
[data-v-00c2d2c0] .ant-radio-wrapper {
  display: inline !important;
}


[data-v-00c2d2c0] .ant-time-picker{
    width: 160px;
}
[data-v-00c2d2c0] .tip{
    margin: 0 10px;
}
[data-v-00c2d2c0] .times_but{
    margin-left: 10px;
}

