
.content[data-v-9bc085f4] {
  width: 100%;
  /* height: calc(100vh - 200px); */
}
.header[data-v-9bc085f4] {
  margin-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.footer[data-v-9bc085f4] {
  margin-top: 20px;
  float: right;
  height: 100px;
  /* position: fixed;
  bottom: 10px;
  right: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end; */
}

