#charts_container_14[data-v-4255a3a4] {
  width: calc(100vw/4 - 10px);
  height: calc((100vh - 90px - 6px)/3 - 42px);
  position: relative;
}
#charts_container_14 .videoPlayer1[data-v-4255a3a4] {
  width: 92%;
  height: 92%;
  -o-object-fit: fill;
     object-fit: fill;
  position: absolute;
  left: 20px;
  top: 10px;
}
#charts_container_14 .introduce[data-v-4255a3a4] {
  position: absolute;
  left: 25px;
  top: 15px;
  color: #ffffff;
  z-index: 99;
}
#myFlvVideo1[data-v-4255a3a4]::-webkit-media-controls-timeline {
  display: none;
}
#myFlvVideo1[data-v-4255a3a4]::-webkit-media-controls-play-button {
  display: none;
}

