.color-picker[data-v-0f1938e4] {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.color-picker .color-box[data-v-0f1938e4] {
  z-index: 999;
}
.color-picker .color-box[data-v-0f1938e4] .colorBtn {
  width: 80px;
  height: 30px;
  border: 1px solid #666666;
}
.color-picker .color-name[data-v-0f1938e4] {
  display: inline-block;
  margin: 0px 20px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
}


#components-form-demo-validate-other .dropbox {
  height: 180px;
  line-height: 1.5;
}
.ant-form-item {
  margin-bottom: 5px;
}
.delete-pointer {
  font-size: 13px;
  color: gray;
  position: absolute;
  left: 62px;
}
.ant-upload.ant-upload-select-picture-card {
  width: 75px;
  height: 75px;
  margin-right: 0;
  margin-bottom: 0;
}


.page[data-v-9ce9bb30] {
    padding: 40px;
    width: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #ffffff;
}

