
.imgname {
  width: 100px;
}
.refund_type_desc table{font-weight: bold;}
.refund_type_desc  .ant-descriptions-item-colon,.refund_type_desc .ant-descriptions-item-content{padding: 8px 20px;}

.message-suggestions-list-box[data-v-19fc3c5c] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-19fc3c5c] {
  padding: 20px 20px 0;
  border: 1px solid #e4dfdf;
}
.message-suggestions-list-box .add-box[data-v-19fc3c5c] {
  padding: 20px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-19fc3c5c] {
  padding: 20px;
}
.message-suggestions-list-box .message_box[data-v-19fc3c5c] {
  padding: 20px;
}
.lbsf[data-v-19fc3c5c] {
  float: right;
  margin-right: 24px;
}
.padding-tp10[data-v-19fc3c5c] {
  padding-top: 15px;
  padding-bottom: 15px;
}
.modal_box_1[data-v-19fc3c5c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal_box_1 .flex_text_box[data-v-19fc3c5c] {
  width: 50%;
}
.margin_top_10[data-v-19fc3c5c] {
  margin-top: 10px;
}
.flex_text_box[data-v-19fc3c5c] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex_text_box .text_1[data-v-19fc3c5c] {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.page_top[data-v-19fc3c5c] {
  background-color: #e6f7ff;
  display: inline-block;
  width: 98%;
  padding: 20px 20px;
  margin: 15px;
  color: #666666;
}

