
.ant-card-input_park[data-v-0fea8e09] {
    width: 300px;
    margin-top: 15px;
}
.ant-card-span_park[data-v-0fea8e09] {
    margin-right: 150px;
    padding-left: 113px;
    padding-top: 10px;
}
.ant-card-span1_park[data-v-0fea8e09] {
    margin-right: 10px;
}

