/*/deep/ .map{*/
/*width: 500px !important;*/
/*height: 500px !important;*/
/*}*/


[data-v-128ef277] .cont_box .ant-form-item-control {
  line-height: 25px !important;
}
[data-v-128ef277] .ant-form-item {
  margin-left: 30px !important;
  margin-bottom: 15px !important;
}
[data-v-128ef277] .label_col {
  margin-right: 30px !important;
  font-weight: bold !important;
}
[data-v-128ef277] .box_width {
  display: inline-block;
  width: 97px !important;
}
[data-v-128ef277] .ant-form-item .ant-col-sm-13 {
  width: 100% !important;
}
[data-v-128ef277] .ant-select {
  width: 300px !important;
}
[data-v-128ef277] .ant-input-number {
  width: 300px !important;
  display: inline-block;
}
[data-v-128ef277] .adress_box {
  padding: 5px;
  color: white;
  background: #87B87F;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}
[data-v-128ef277] .times_but {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
[data-v-128ef277] .el-date-editor {
  margin-right: 5px !important;
}
[data-v-128ef277] .time_box {
  display: inline-block;
  margin-bottom: 5px !important;
}
[data-v-128ef277] .set_time {
  display: inline-block;
  margin-left: 30px !important;
}
[data-v-128ef277] .time_right {
  display: inline-block;
  width: 80% !important;
  margin-left: 1px !important;
  position: relative;
}
[data-v-128ef277] .tip {
  margin: 0 10px;
}
[data-v-128ef277] .times_but {
  margin-left: 10px;
}
[data-v-128ef277] .voucher_img_box {
  display: inline-block !important;
}
[data-v-128ef277] .voucher_img_box img {
  width: 120px;
  cursor: pointer;
}

.content-p1[data-v-17c8d72f] {
  color: #52A5FF;
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
.message-suggestions-list-box[data-v-17c8d72f] {
  margin: 30px 20px;
  background-color: white;
}
.message-suggestions-list-box .search-box[data-v-17c8d72f] {
  padding: 5px 20px 0;
}
.message-suggestions-list-box .add-box[data-v-17c8d72f] {
  padding: 10px 20px 0;
}
.message-suggestions-list-box .components-table-demo-nested[data-v-17c8d72f] {
  padding: 20px;
}
[data-v-17c8d72f] .message-suggestions-list-box .message_box {
  padding: 20px;
}
[data-v-17c8d72f] .input1 {
  width: 60% !important;
}
[data-v-17c8d72f] .but-box {
  width: 240px !important;
  padding-left: 0 !important;
}
[data-v-17c8d72f] .but-box button {
  margin-right: 20px !important;
}
[data-v-17c8d72f] .ant-calendar-picker {
  width: 75%;
}
[data-v-17c8d72f] .pdno {
  padding: 0 !important;
}
[data-v-17c8d72f] .but_sty {
  display: inline-block;
  margin-right: 10px;
}

